<script lang="ts">
  import { getVersion } from '@tauri-apps/api/app';

  import { appName } from '../store/settings';

  import Page from '../component/Page.svelte';

  const version = getVersion();
</script>

{#snippet link(name: string, url: string)}
  <a rel="noopener noreferrer" href={url} target="_blank">{name}</a>
{/snippet}

<Page title={appName + ' - Secure Encryption and Transfer Tool'}>
  <div class="centered">
    <h2>Documentation and download links</h2>
    <div class="row-with-links">
      {@render link('Documentation', 'https://biomedit.gitlab.io/docs/sett/')}
      {@render link(
        'Download',
        'https://biomedit.gitlab.io/docs/sett/download_sett',
      )}
      {@render link(
        'Report an issue',
        'https://gitlab.com/biomedit/sett-rs/-/issues',
      )}
      {@render link('Source code', 'https://gitlab.com/biomedit/sett-rs')}
    </div>
  </div>

  <div class="centered">
    <h2>About {appName}</h2>

    <div class="app-metadata">
      <strong>What is {appName}?</strong>
      <span class="col-2">
        Transferring sensitive data over a possibly unsafe network in a secure
        way is not a trivial task.
        <em>{appName}</em> is an application that automates the encryption, compression,
        packaging, and transfer of data over the network, ensuring data remains safe
        at all times and can only be read by the intended data recipient.
      </span>
      <strong>Version</strong>
      <span class="col-2">
        {#await version}
          loading...
        {:then versionNumber}
          {versionNumber}
        {:catch error}
          Unable to load the version number: {error}
        {/await}
      </span>
      <strong>License</strong>
      <span class="col-2">
        <em>{appName}</em> is licensed under the
        {@render link(
          'GNU General Public License 3.0',
          'https://www.gnu.org/licenses/gpl-3.0.en.html',
        )}
      </span>
      <strong>Developers</strong>
      <span class="col-2"
        ><em>{appName}</em> is developed as part of the
        {@render link('BioMedIT', 'https://biomedit.ch')}
      </span>
      <strong>Download</strong>
      <span class="col-2">
        <em>{appName}</em> comes in two flavours: a desktop app (the one you're
        looking at) and a command line tool (CLI). Available for these
        platforms:
        {@render link(
          'Linux, Windows and Mac OS',
          'https://biomedit.gitlab.io/docs/sett/download_sett',
        )}
      </span>
      <strong>Technologies</strong>
      <span class="col-2">
        <em>{appName}</em> encrypts data using the OpenPGP protocol as
        implemented by the
        {@render link('Sequoia-PGP', 'https://sequoia-pgp.org')}
        library.
      </span>
    </div>
  </div>

  <picture>
    <source srcset="biomedit-dark.svg" media="(prefers-color-scheme: dark)" />
    <img src="biomedit-light.svg" alt="BioMedIT logo" class="logo" />
  </picture>
</Page>

<style>
  h2 {
    text-align: center;
    margin-top: 1.5rem;
  }

  img {
    max-width: 20%;
    display: block;
    margin: auto;
    margin-top: 1rem;
  }

  .centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .row-with-links {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .app-metadata {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5rem;
    gap: 0.5rem;
    justify-items: end;
    margin: auto;
  }

  .col-2 {
    justify-self: start;
    max-width: 38rem;
  }
</style>
