<script lang="ts">
  import {
    assert,
    isCertExpiring,
    pkgMetadataAsTable,
    selectPackage,
    warnCertExpiring,
  } from './utils';
  import { authenticatedMode, userInfo } from '../store/auth';
  import {
    decryptDestination,
    decryptLocalPackage,
    type DecryptOpts,
    decryptS3Package,
    decryptSourceKind,
  } from '../store/decrypt';
  import { NotificationLevel, toasts } from '../store/event';
  import { createS3PortalPackageStore } from '../store/source';
  import { SourceKind } from '../store/source';
  import { tasks } from '../store/task';

  import AuthViewToggle from '../component/AuthViewToggle.svelte';
  import ButtonWorkflow from '../component/ButtonWorkflow.svelte';
  import { certStore } from '../store/cert';
  import Chip from '../component/Chip.svelte';
  import DirectorySelector from '../component/DirectorySelector.svelte';
  import DocumentPlus from '../icon/DocumentPlus.svelte';
  import DropZone from '../component/DropZone.svelte';
  import { type DropZoneButton } from '../component/utils';
  import { hasMetadata } from '../store/package';
  import Page from '../component/Page.svelte';
  import S3 from './decrypt/S3.svelte';
  import S3Auth from './decrypt/S3Auth.svelte';
  import Section from '../component/Section.svelte';
  import { settingsStore } from '../store/settings';
  import Table from '../component/Table.svelte';
  import Unlock from '../icon/Unlock.svelte';

  let submitDisabled = $state(false);
  const decryptS3PortalPackage = createS3PortalPackageStore(
    $settingsStore.portalURL,
  );

  const showSelectDestination = $derived(
    ($decryptSourceKind === SourceKind.Local &&
      hasMetadata($decryptLocalPackage)) ||
      ($decryptSourceKind === SourceKind.S3 &&
        hasMetadata($decryptS3Package)) ||
      ($decryptSourceKind === SourceKind.S3 &&
        $authenticatedMode &&
        hasMetadata($decryptS3PortalPackage)),
  );
  const showDecryptButton = $derived(
    showSelectDestination && $decryptDestination !== '',
  );

  const selectPackageButton: DropZoneButton = {
    Icon: DocumentPlus,
    text: 'Select Package',
    color: 'secondary',
    size: 'small',
    selectItem: () =>
      selectPackage((path) => {
        decryptLocalPackage.load(path);
      }),
    tooltip: 'Select a data package to decrypt',
  };

  async function handleSubmit(event: Event) {
    event.preventDefault();
    const pkg =
      $authenticatedMode && hasMetadata($decryptS3PortalPackage)
        ? $decryptS3PortalPackage
        : $decryptSourceKind === SourceKind.Local &&
            hasMetadata($decryptLocalPackage)
          ? $decryptLocalPackage
          : hasMetadata($decryptS3Package)
            ? $decryptS3Package
            : null;
    assert(pkg, 'The package contains no metadata');
    submitDisabled = true;
    const opts: DecryptOpts = {
      kind: 'decrypt',
      destination: $decryptDestination,
      package: pkg,
    };
    try {
      await tasks.check(opts);
    } catch (e) {
      toasts.add({
        level: NotificationLevel.Error,
        message: e as string,
        timeout: 5000,
        dismissible: true,
      });
      submitDisabled = false;
      return;
    }
    tasks.add(opts);
    toasts.add({
      level: NotificationLevel.Info,
      message: 'Decryption job submitted',
      timeout: 5000,
      dismissible: true,
    });
    $certStore
      .filter((cert) =>
        pkg.metadata.recipients.some(
          (fingerprint) => fingerprint === cert.fingerprint,
        ),
      )
      .filter(isCertExpiring)
      .forEach((cert) => {
        warnCertExpiring(cert);
      });

    decryptLocalPackage.reset();
    decryptS3Package.reset();
    submitDisabled = false;
  }
</script>

<Page title="Decrypt">
  {#snippet headerRight()}
    <div class="toggle">
      <!-- Authenticated mode is only possible when signed-in to portal. -->
      {#if $userInfo !== null}
        <AuthViewToggle bind:checked={$authenticatedMode} />
      {/if}
    </div>
  {/snippet}
  <form onsubmit={handleSubmit}>
    <Section title="Select data package">
      <label for="source" class="extra-bottom-margin">Source</label>
      <select bind:value={$decryptSourceKind}>
        {#each ['local', 's3'] as source (source)}
          <option value={source}>{source}</option>
        {/each}
      </select>
      {#if $decryptSourceKind === SourceKind.S3}
        {#if $authenticatedMode}
          {#if hasMetadata($decryptS3PortalPackage)}
            <div class="selected-items">
              <Chip onClear={decryptS3PortalPackage.reset}>
                <Table data={pkgMetadataAsTable($decryptS3PortalPackage)} />
              </Chip>
            </div>
          {:else}
            <S3Auth
              bind:transferId={$decryptS3PortalPackage.source.transferId}
              bind:objectName={$decryptS3PortalPackage.source.objectName}
              onPackageLoad={async () =>
                decryptS3PortalPackage.load($decryptS3PortalPackage.source)}
            />
          {/if}
        {:else if hasMetadata($decryptS3Package)}
          <div class="selected-items">
            <Chip onClear={decryptS3Package.reset}>
              <Table data={pkgMetadataAsTable($decryptS3Package)} />
            </Chip>
          </div>
        {:else}
          <S3
            bind:url={$decryptS3Package.source.url}
            bind:bucket={$decryptS3Package.source.bucket}
            bind:objectName={$decryptS3Package.source.objectName}
            bind:accessKey={$decryptS3Package.source.accessKey}
            bind:secretKey={$decryptS3Package.source.secretKey}
            bind:sessionToken={$decryptS3Package.source.sessionToken}
            onPackageLoad={async () =>
              decryptS3Package.load($decryptS3Package.source)}
          />
        {/if}
      {:else if $decryptSourceKind === SourceKind.Local}
        {#if hasMetadata($decryptLocalPackage)}
          <div class="selected-items">
            <Chip onClear={decryptLocalPackage.reset}>
              <Table data={pkgMetadataAsTable($decryptLocalPackage)} />
            </Chip>
          </div>
        {:else}
          <DropZone
            buttons={[selectPackageButton]}
            clearItem={() => decryptLocalPackage.reset()}
            helpText="Drag and drop a data package, or click the button to select one."
          />
        {/if}
      {/if}
    </Section>

    <Section title="Select destination directory">
      <div class="directory-selector">
        <DirectorySelector
          bind:selectedDir={$decryptDestination}
          helpText="Select directory to save the decrypted data."
        />
      </div>
    </Section>

    <ButtonWorkflow
      disabled={submitDisabled}
      hidden={!showDecryptButton}
      Icon={Unlock}
      text={`${$decryptSourceKind === 'local' ? '' : 'Download and '}Decrypt package`}
      tooltip="Decrypt and extract data into the selected directory"
    />
  </form>
</Page>

<style>
  label {
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 0.3rem;
    margin-right: 5rem;
  }

  select {
    width: 10rem;
    font-size: 1.1rem;
    border: 1px solid var(--color-text);
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .directory-selector {
    padding-left: 0.5em;
  }
  .toggle {
    font-size: 1.5rem;
  }
</style>
