<script lang="ts">
  import { invoke } from '@tauri-apps/api';

  import { authenticatedMode, userInfo } from '../store/auth';

  import Button from '../component/Button.svelte';
  import LoginDialog from '../component/LoginDialog.svelte';
  import Page from '../component/Page.svelte';
  import Table from '../component/Table.svelte';

  let showLoginDialog = $state(false);

  const signOut = async () => {
    await invoke('logout');
    userInfo.set(null);
    authenticatedMode.set(false);
  };
</script>

<Page title="Profile">
  {#if $userInfo}
    <div class="table">
      <Table
        data={[
          {
            key: 'Name:',
            value: [
              $userInfo?.givenName || '',
              $userInfo?.familyName || '',
            ].join(' '),
          },
          { key: 'Email:', value: $userInfo?.email || '' },
          { key: 'Username:', value: $userInfo?.username || '' },
        ]}
      />
    </div>
    <Button color="secondary" text="Sign out" onclick={signOut} />
  {:else}
    <Button
      color="secondary"
      text="Sign in"
      onclick={() => (showLoginDialog = true)}
    />
    {#if showLoginDialog}
      <LoginDialog onclose={() => (showLoginDialog = false)} />
    {/if}
  {/if}
</Page>

<style>
  .table {
    margin-bottom: 1em;
  }
</style>
