<script lang="ts">
  import { selectDirectory } from './utils';
  import { settingsStore } from '../store/settings';

  import ArrowUturnLeft from '../icon/ArrowUturnLeft.svelte';
  import Button from '../component/Button.svelte';
  import CheckboxInput from '../component/CheckboxInput.svelte';
  import CopyToClipboard from '../component/CopyToClipboard.svelte';
  import Dialog from '../component/Dialog.svelte';
  import ElementWithTooltip from '../component/ElementWithTooltip.svelte';
  import Folder from '../icon/Folder.svelte';
  import Page from '../component/Page.svelte';
  import Section from '../component/Section.svelte';

  let showResetConfirmationDialog = $state(false);

  const resetSettings = (event: Event) => {
    event.preventDefault();
    showResetConfirmationDialog = false;
    settingsStore.reset();
  };
</script>

{#snippet nonEditableField(description: string, value: string, tooltip: string)}
  <ElementWithTooltip {tooltip} compactTooltip>
    <strong>{description}</strong>
  </ElementWithTooltip>
  <span class="text-muted">{value}</span>
  <span>
    <CopyToClipboard
      text=""
      toCopy={value}
      successMsg={`${description} copied to clipboard`}
      tooltip={`Copy ${description} to clipboard`}
    />
  </span>
{/snippet}

<Page title="Settings">
  <Section title="Basic">
    <div class="verify-pkg-setting">
      <CheckboxInput
        name="verifyPackage"
        bind:checked={$settingsStore.verifyPackage}
        tooltip="Enable verification of data package metadata with Portal"
      >
        <strong>Verify package</strong> (metadata verification using Portal)
      </CheckboxInput>
    </div>

    <div class="text-fields">
      <div>
        <label for="defaultOutputDir">Default output directory</label>
        <span class="text-field-with-button">
          <Button
            size="x-small"
            Icon={Folder}
            color="secondary"
            onclick={() =>
              selectDirectory(
                (selected) => ($settingsStore.defaultOutputDir = selected),
              )}
            tooltip="Change directory"
            tooltipPosition="bottom"
            tooltipDirection="to-right"
          />
          <input
            class="text-muted"
            type="text"
            name="defaultOutputDir"
            readonly
            bind:value={$settingsStore.defaultOutputDir}
          />
        </span>
      </div>
    </div>
  </Section>

  <Section title="Advanced">
    <CheckboxInput
      name="enableExtraMetadata"
      bind:checked={$settingsStore.enableExtraMetadata}
      tooltip="Display input fields for extra metadata entry in the 'Encrypt and transfer data' tab"
    >
      <strong>Enable extra metadata</strong>
    </CheckboxInput>

    <div class="text-fields">
      <div>
        <label for="portalURL">Portal URL</label>
        <input
          type="text"
          name="portalURL"
          placeholder="Portal URL"
          bind:value={$settingsStore.portalURL}
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off"
        />
      </div>
      <div>
        <label for="oidcIssuer">OIDC issuer URL</label>
        <input
          type="text"
          name="oidcIssuerURL"
          placeholder="OIDC Issuer URL"
          bind:value={$settingsStore.oidcIssuerURL}
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off"
        />
      </div>
      <div class="text-fields">
        <div>
          <label for="publicKeyStoreDirectory">Public key store</label>
          <span class="text-field-with-button">
            <Button
              size="x-small"
              Icon={Folder}
              color="secondary"
              onclick={() =>
                selectDirectory(
                  (selected) => ($settingsStore.publicKeyStore = selected),
                )}
              tooltip="Change directory"
              tooltipPosition="bottom"
              tooltipDirection="to-right"
            />
            <input
              class="text-muted"
              type="text"
              name="publicKeyStoreDirectory"
              readonly
              bind:value={$settingsStore.publicKeyStore}
            />
          </span>
        </div>
      </div>
      <div class="text-fields">
        <div>
          <label for="privateKeyStoreDirectory">Private key store</label>
          <span class="text-field-with-button">
            <Button
              size="x-small"
              Icon={Folder}
              color="secondary"
              onclick={() =>
                selectDirectory(
                  (selected) => ($settingsStore.privateKeyStore = selected),
                )}
              tooltip="Change directory"
              tooltipPosition="bottom"
              tooltipDirection="to-right"
            />
            <input
              class="text-muted"
              type="text"
              name="privateKeyStoreDirectory"
              readonly
              bind:value={$settingsStore.privateKeyStore}
            />
          </span>
        </div>
      </div>
    </div>
  </Section>

  <Section title="Non-editable">
    <div class="grid">
      {@render nonEditableField(
        'Log directory',
        $settingsStore.logDir,
        "Location of the application's logs",
      )}
      {@render nonEditableField(
        'Keyserver URL',
        $settingsStore.keyserverURL,
        'URL of the keyserver for download/upload of OpenPGP keys',
      )}
    </div>
  </Section>

  <div class="reset-button">
    <Button
      Icon={ArrowUturnLeft}
      color="secondary"
      text="Reset settings"
      tooltip="Reset all settings to their default values"
      onclick={() => (showResetConfirmationDialog = true)}
    />
  </div>
</Page>

{#if showResetConfirmationDialog}
  <Dialog
    onclose={() => (showResetConfirmationDialog = false)}
    title="Confirm settings reset"
  >
    <form onsubmit={resetSettings}>
      <div class="reset-dialog">
        <p>Are you sure to reset all settings to their default values ?</p>
        <div class="button-with-cancel">
          <Button
            color="secondary"
            text="Cancel"
            onclick={() => (showResetConfirmationDialog = false)}
          />
          <Button
            color="primary"
            type="submit"
            text="Reset settings"
            Icon={ArrowUturnLeft}
          />
        </div>
      </div>
    </form>
  </Dialog>
{/if}

<style>
  .text-fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    & label {
      font-weight: bold;
    }
    & input {
      /* Make input box span the entire width of parent container.*/
      width: 100%;
      padding: 0.3rem;
    }
  }

  .text-field-with-button {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  .reset-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }

  .reset-dialog {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  .button-with-cancel {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 1em;
  }

  .text-muted {
    color: var(--color-text-muted);
  }

  .verify-pkg-setting {
    width: max-content;
  }
</style>
