<script lang="ts">
  import Button from '../../component/Button.svelte';
  import SecretInput from '../../component/SecretInput.svelte';

  interface Props {
    url: string;
    bucket: string;
    objectName: string;
    accessKey: string;
    secretKey: string;
    sessionToken: string;
    onPackageLoad: () => void;
  }

  let {
    url = $bindable(),
    bucket = $bindable(),
    objectName = $bindable(),
    accessKey = $bindable(),
    secretKey = $bindable(),
    sessionToken = $bindable(),
    onPackageLoad, // eslint-disable-line prefer-const
  }: Props = $props();

  const showLoadPackageButton = $derived(
    url !== '' &&
      bucket !== '' &&
      objectName !== '' &&
      accessKey !== '' &&
      secretKey !== '',
  );
</script>

<form
  onsubmit={(event: Event) => {
    event.preventDefault();
    onPackageLoad();
  }}
>
  <div class="container">
    <label for="url" class="required">S3 Host URL</label>
    <input
      type="url"
      name="url"
      id="url"
      placeholder="URL of the S3 server, starting with https://..."
      bind:value={url}
      required
      autocapitalize="none"
      autocomplete="off"
      autocorrect="off"
    />
    <label for="bucket" class="required">Bucket</label>
    <input
      type="text"
      name="bucket"
      id="bucket"
      placeholder="Name of the S3 storage container"
      bind:value={bucket}
      required
      autocapitalize="none"
      autocomplete="off"
      autocorrect="off"
    />
    <label for="objectName" class="required">Object Name</label>
    <input
      type="text"
      name="objectName"
      id="objectName"
      placeholder="Name of the S3 object"
      bind:value={objectName}
      required
      autocapitalize="none"
      autocomplete="off"
      autocorrect="off"
    />
    <label for="accessKey" class="required">Access Key</label>
    <input
      type="text"
      name="accessKey"
      id="accessKey"
      placeholder="Access key or user name"
      bind:value={accessKey}
      required
      autocapitalize="none"
      autocomplete="off"
      autocorrect="off"
    />
    <label for="secretKey" class="required">Secret Key</label>
    <SecretInput
      bind:userInput={secretKey}
      placeholder="Secret key or password"
      required
      id="secretKey"
    />
    <label for="sessionToken">Session Token</label>
    <SecretInput
      bind:userInput={sessionToken}
      placeholder="Temporary session token for S3 service (optional)"
      id="sessionToken"
    />
  </div>
  <Button
    type="submit"
    color="secondary"
    text="Load package"
    disabled={!showLoadPackageButton}
  />
</form>

<style>
  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 0.5rem;
    grid-column-gap: 1rem;
  }

  label {
    font-weight: bold;
    padding: 0.3rem;
    margin-right: 1.5rem;
  }

  input {
    padding: 0.3rem;
  }
</style>
