<script lang="ts">
  import { authenticatedMode } from '../../store/auth';
  import Button from '../../component/Button.svelte';
  import TransferIdSelector from '../../component/TransferIdSelector.svelte';

  interface Props {
    objectName: string;
    transferId?: number | null;
    onPackageLoad: () => void;
  }

  let {
    objectName = $bindable(),
    transferId = $bindable(null),
    onPackageLoad, // eslint-disable-line prefer-const
  }: Props = $props();

  const showLoadPackageButton = $derived(
    objectName !== '' && transferId !== null,
  );
</script>

<form
  onsubmit={(event: Event) => {
    event.preventDefault();
    onPackageLoad();
  }}
>
  <div class="container">
    <label for="transferId" class="required">Data Transfer ID</label>
    <TransferIdSelector
      authenticatedMode={$authenticatedMode}
      bind:transferId
    />
    <label for="objectName" class="required">Object</label>
    <input
      type="text"
      name="objectName"
      id="objectName"
      placeholder="Name of the S3 object"
      bind:value={objectName}
      required
      autocapitalize="none"
      autocomplete="off"
      autocorrect="off"
    />
  </div>
  <Button
    type="submit"
    color="secondary"
    text="Load package"
    disabled={!showLoadPackageButton}
  />
</form>

<style>
  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 0.5rem;
    grid-column-gap: 1rem;
  }

  label {
    font-weight: bold;
    padding: 0.3rem;
  }

  input {
    padding: 0.3rem;
  }
</style>
