<script lang="ts">
  import { invoke } from '@tauri-apps/api';

  import { type CertInfo, CertType } from '../../../store/cert';
  import { appName } from '../../../store/settings';

  import Button from '../../../component/Button.svelte';
  import CertItem from './CertItem.svelte';
  import Dialog from '../../../component/Dialog.svelte';

  const publicCerts = invoke<CertInfo[]>('list_gnupg_certs', {
    certType: CertType.Public,
  });
  const secretCerts = invoke<CertInfo[]>('list_gnupg_certs', {
    certType: CertType.Secret,
  });

  interface Props {
    onclose: () => void;
    refreshCertStore: () => void;
  }

  const { onclose, refreshCertStore }: Props = $props();
</script>

<Dialog {onclose} title="Import OpenPGP key from GnuPG">
  <p>
    The following OpenPGP keys were found in your GnuPG keyring. Click on
    "Import" to add a key into the keystore of {appName}.
  </p>
  <h2>Private keys</h2>
  {#await secretCerts}
    <p>Loading private keys...</p>
  {:then certs}
    {#each certs as cert (cert.fingerprint)}
      <CertItem certInfo={cert} certType={CertType.Secret} {refreshCertStore} />
    {/each}
  {:catch error}
    <p>{error}</p>
  {/await}

  <h2>Public keys</h2>
  {#await publicCerts}
    <p>Loading public keys...</p>
  {:then certs}
    {#each certs as cert (cert.fingerprint)}
      <CertItem certInfo={cert} certType={CertType.Public} {refreshCertStore} />
    {/each}
  {:catch error}
    <p>{error}</p>
  {/await}

  <div class="btn-group">
    <Button color="secondary" text="Close" onclick={onclose} />
  </div>
</Dialog>

<style>
  .btn-group {
    display: flex;
    justify-content: flex-end;
  }
</style>
