<script lang="ts">
  import { onMount } from 'svelte';

  import { approvalStore, certStore } from './lib/store/cert';
  import {
    listenAuthError,
    listenFileDrop,
    listenTaskEvent,
    listenThemeChange,
    listenUnhandledRejection,
  } from './lib/listener';
  import { NotificationLevel, toasts } from './lib/store/event';
  import { route, Route } from './lib/store/route';
  import { tasks, TaskState } from './lib/store/task';
  import { settingsStore } from './lib/store/settings';
  import { userInfo } from './lib/store/auth';

  import About from './lib/page/About.svelte';
  import Certs from './lib/page/cert/Certs.svelte';
  import Cog6ToothIcon from './lib/icon/Cog6Tooth.svelte';
  import Decrypt from './lib/page/Decrypt.svelte';
  import Encrypt from './lib/page/Encrypt.svelte';
  import InfoIcon from './lib/icon/Info.svelte';
  import KeyIcon from './lib/icon/Key.svelte';
  import ListIcon from './lib/icon/List.svelte';
  import NavItem from './lib/component/NavItem.svelte';
  import PasswordDialogListener from './lib/component/PasswordDialogListener.svelte';
  import Profile from './lib/page/Profile.svelte';
  import SendIcon from './lib/icon/Send.svelte';
  import Settings from './lib/page/Settings.svelte';
  import Tasks from './lib/page/task/Tasks.svelte';
  import Toasts from './lib/component/Toasts.svelte';
  import UnlockIcon from './lib/icon/Unlock.svelte';
  import UserCircleIcon from './lib/icon/UserCircle.svelte';

  // Reload keys from disk, and update approval statuses from portal.
  async function reloadCertsAndRefreshApprovals() {
    try {
      await certStore.refresh();
    } catch (e) {
      throw new Error(`Failed to load keys from local keystore: ${e}`);
    }
    try {
      await approvalStore.refresh($certStore);
    } catch (e) {
      throw new Error(`Failed to retrieve approval status from portal: ${e}`);
    }
  }

  // Wrapper function for `reloadCertsAndRefreshApprovals`, that displays
  // failure messages as toasts, and optionally a success message.
  function refreshCertStore(showSuccessToast = false) {
    reloadCertsAndRefreshApprovals()
      .then(() => {
        if (showSuccessToast) {
          toasts.add({
            level: NotificationLevel.Success,
            message: 'OpenPGP keys reloaded from disk',
            timeout: 2000,
            dismissible: false,
          });
        }
      })
      .catch((e) => {
        toasts.add({
          level: NotificationLevel.Error,
          message: e as string,
          timeout: 10000,
          dismissible: true,
        });
      });
  }

  onMount(async () => {
    listenUnhandledRejection();
    listenThemeChange();
    await listenFileDrop();
    await listenTaskEvent();
    await settingsStore.load();
    await listenAuthError();
    refreshCertStore();
  });

  const unfinished = $derived.by(() => {
    const len = $tasks.filter(
      (task) =>
        task.state === TaskState.Pending || task.state === TaskState.Running,
    ).length;
    return len === 0 ? '' : len > 9 ? '9+' : len.toString();
  });
</script>

<div class="app-window">
  <nav>
    <ul>
      <li>
        <NavItem path={Route.Encrypt} tooltip="Encrypt and Transfer data"
          ><SendIcon /></NavItem
        >
      </li>
      <li>
        <NavItem path={Route.Decrypt} tooltip="Decrypt data packages"
          ><UnlockIcon /></NavItem
        >
      </li>
      <li>
        <NavItem path={Route.Certs} tooltip="Manage OpenPGP keys"
          ><KeyIcon /></NavItem
        >
      </li>
      <li>
        <NavItem
          path={Route.Tasks}
          tooltip="Show running and completed tasks"
          badge={unfinished}><ListIcon /></NavItem
        >
      </li>
      <li class="item-center"></li>
      <li>
        <NavItem
          path={Route.Profile}
          tooltip="User profile"
          badgeBgColor="var(--color-success)"
          badge={$userInfo === null ? undefined : '✓'}
          ><UserCircleIcon /></NavItem
        >
      </li>
      <li>
        <NavItem path={Route.Settings} tooltip="Settings"
          ><Cog6ToothIcon /></NavItem
        >
      </li>
      <li>
        <NavItem path={Route.About} tooltip="About"><InfoIcon /></NavItem>
      </li>
    </ul>
  </nav>

  <div class="content">
    {#if $route === Route.Encrypt}
      <Encrypt />
    {:else if $route === Route.Decrypt}
      <Decrypt />
    {:else if $route === Route.Certs}
      <Certs {refreshCertStore} />
    {:else if $route === Route.Settings}
      <Settings />
    {:else if $route === Route.Tasks}
      <Tasks />
    {:else if $route === Route.Profile}
      <Profile />
    {:else if $route === Route.About}
      <About />
    {/if}
    <Toasts />
  </div>
</div>

<PasswordDialogListener />

<style>
  .app-window {
    display: flex;
    height: 100vh;
  }

  nav {
    background-color: var(--color-component-bg);
    padding: 0.75rem;

    & ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin: 0;
      padding: 0;
      list-style: none;
      height: 100%;
    }
  }

  .item-center {
    flex-grow: 1;
  }

  .content {
    flex: 1 1 auto;
    overflow: scroll;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
</style>
