<script lang="ts">
  import { type CertInfo, certStore } from '../../store/cert';

  import Alert from '../../component/Alert.svelte';
  import ArrowPath from '../../icon/ArrowPath.svelte';
  import Button from '../../component/Button.svelte';
  import Cert from './Cert.svelte';
  import Dropdown from '../../component/Dropdown.svelte';
  import GenerateCertDialog from './GenerateCertDialog.svelte';
  import ImportFromFileDialog from './ImportFromFileDialog.svelte';
  import ImportFromGnupgDialog from './gnupg/ImportFromGnupgDialog.svelte';
  import ImportFromKeyserverDialog from './ImportFromKeyserverDialog.svelte';
  import Page from '../../component/Page.svelte';
  import PlusCircle from '../../icon/PlusCircle.svelte';

  interface Props {
    refreshCertStore: (showSuccessToast?: boolean) => void;
  }

  const { refreshCertStore }: Props = $props();

  let selected:
    | 'fromFile'
    | 'fromGnupg'
    | 'fromKeyserver'
    | 'generate'
    | 'none' = $state('none');

  const actions = [
    {
      label: 'Generate new key pair',
      action: () => {
        selected = 'generate';
      },
    },
    {
      label: 'Import from keyserver',
      action: () => {
        selected = 'fromKeyserver';
      },
    },
    {
      label: 'Import from file or clipboard',
      action: () => {
        selected = 'fromFile';
      },
    },
    {
      label: 'Import from GnuPG',
      action: () => {
        selected = 'fromGnupg';
      },
    },
  ];

  const onclose = () => {
    selected = 'none';
  };

  let query = $state('');
  const filteredCerts: CertInfo[] = $derived(
    $certStore.filter(
      (cert) =>
        cert.fingerprint.includes(query.toUpperCase()) ||
        cert.userid?.toLocaleLowerCase().includes(query.toLocaleLowerCase()),
    ),
  );
</script>

<Page title="OpenPGP Keys">
  <div class="toolbar">
    <input
      id="filter-box"
      type="text"
      bind:value={query}
      placeholder="Filter by user ID or fingerprint"
      autocapitalize="none"
      autocomplete="off"
      autocorrect="off"
    />
    <Button
      color="secondary"
      text="Refresh"
      Icon={ArrowPath}
      tooltip="Reload OpenPGP keys from the local keystore"
      onclick={() => refreshCertStore(true)}
    />
    <Dropdown
      color="secondary"
      direction="right"
      text="Add"
      {actions}
      Icon={PlusCircle}
      tooltip="Generate or import OpenPGP keys"
    />
  </div>

  <!-- List of certificates present in the local certstore. -->
  <div class="certificates">
    {#each filteredCerts as cert (cert.fingerprint)}
      <Cert {cert} {refreshCertStore} />
    {:else}
      <Alert>
        {#if query}
          There is no OpenPGP key matching your search terms.
        {:else}
          There are currently no OpenPGP keys in the local keystore. You can
          create new keys or import an existing ones by clicking the "Add"
          button above.
        {/if}
      </Alert>
    {/each}
  </div>
</Page>

{#if selected === 'generate'}
  <GenerateCertDialog {onclose} {refreshCertStore} />
{:else if selected === 'fromKeyserver'}
  <ImportFromKeyserverDialog {onclose} {refreshCertStore} />
{:else if selected === 'fromFile'}
  <ImportFromFileDialog {onclose} {refreshCertStore} />
{:else if selected === 'fromGnupg'}
  <ImportFromGnupgDialog {onclose} {refreshCertStore} />
{/if}

<style>
  .toolbar {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .certificates {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  #filter-box {
    width: 30rem;
  }
</style>
