<script lang="ts">
  import { invoke } from '@tauri-apps/api';

  import { appName, settingsStore } from '../../store/settings';
  import { type CertInfo } from '../../store/cert';
  import { NotificationLevel } from '../../store/event';

  import Alert from '../../component/Alert.svelte';
  import Button from '../../component/Button.svelte';
  import CopyToClipboard from '../../component/CopyToClipboard.svelte';
  import Dialog from '../../component/Dialog.svelte';

  interface Props {
    cert: CertInfo;
    onclose: () => void;
  }

  const { cert, onclose }: Props = $props();
  const certPath = $derived(
    invoke<Promise<string>>('get_cert_path', {
      store: {
        public: $settingsStore.publicKeyStore,
        private: $settingsStore.privateKeyStore,
      },
      fingerprint: cert.fingerprint,
    }),
  );
</script>

<Dialog {onclose} title="Delete public key">
  <Alert level={NotificationLevel.Warning}>
    <p>Deleting public keys is discouraged.</p>
  </Alert>
  <p>
    Deleting public keys from the local keystore is intentionally
    <strong>not possible with {appName}.</strong>
  </p>
  <p>
    If you nevertheless wish to delete this key, it is possible to do so by
    <strong>manually deleting the key file</strong> from your operating system.
  </p>

  <p>The path of this key file is the following:</p>
  {#await certPath}
    <p>loading...</p>
  {:then certPathFinal}
    <pre>{certPathFinal}</pre>
    <div class="button-layout">
      <CopyToClipboard
        toCopy={certPathFinal}
        successMsg="key file path copied to clipboard"
        tooltip="Copy key file path to clipboard"
      />
      <Button color="secondary" text="Close" onclick={onclose} />
    </div>
  {:catch error}
    <p>Error: {error}</p>
    <div class="button-layout">
      <Button color="secondary" text="Close" onclick={onclose} />
    </div>
  {/await}
</Dialog>

<style>
  p {
    margin: 0.8em 0;
  }

  pre {
    padding: 0.5em 1em;
    margin: 1em 0;
    background-color: var(--color-component-bg);
    overflow-x: auto;
  }

  .button-layout {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
</style>
