<script lang="ts">
  import { invoke } from '@tauri-apps/api';

  import { NotificationLevel, toasts } from '../../store/event';
  import { type CertInfo } from '../../store/cert';
  import { settingsStore } from '../../store/settings';

  import Alert from '../../component/Alert.svelte';
  import Button from '../../component/Button.svelte';
  import Dialog from '../../component/Dialog.svelte';
  import Warning from '../../icon/Warning.svelte';

  let dialogState: 'confirm' | 'initial' = $state('initial');
  let confirmBtnDisabled: boolean = $state(false);
  interface Props {
    cert: CertInfo;
    onclose: () => void;
    refreshCertStore: () => void;
  }

  const { cert, onclose, refreshCertStore }: Props = $props();

  async function deletePrivateKey() {
    if (dialogState === 'initial') {
      dialogState = 'confirm';
    } else if (dialogState === 'confirm') {
      confirmBtnDisabled = true;
      await invoke('delete_private_key', {
        store: {
          public: $settingsStore.publicKeyStore,
          private: $settingsStore.privateKeyStore,
        },
        fingerprint: cert.fingerprint,
      });
      refreshCertStore();
      toasts.add({
        level: NotificationLevel.Success,
        message: 'Successfully deleted private key',
        timeout: 5000,
        dismissible: true,
      });
      onclose();
    }
  }
</script>

<Dialog {onclose} title="Delete private key">
  {#if dialogState === 'initial'}
    <Alert level={NotificationLevel.Warning}>
      <div>
        <p><strong>This action can NOT be undone!</strong></p>
        <p>
          Deleting this key will make it impossible to decrypt data encrypted
          for you with the public counterpart of this key or use it for making
          signatures.
        </p>
        <p>
          Proceed with deletion if you are absolutely sure that this action is
          required.
        </p>
      </div>
    </Alert>
    <p>You are about to delete the private key for:</p>
    <p>
      <strong>{cert.userid}</strong><br />
      {cert.fingerprint}
    </p>
    <p>Do you want to proceed to permanently delete this private key?</p>
    <p>Before deleting please consider revoking the key first.</p>
  {:else if dialogState === 'confirm'}
    <p>Please make sure that (if needed) the key has been revoked.</p>
    <p>This is the final confirmation.</p>
    <p>Do you really want to permanently delete the selected private key?</p>
    <p>
      <strong>{cert.userid}</strong><br />
      {cert.fingerprint}
    </p>
    <p><strong>This action can NOT be undone.</strong></p>
  {/if}
  <div class="button-layout">
    <Button
      color="secondary"
      text="Cancel"
      onclick={onclose}
      tooltip="Close window without deleting the key"
      tooltipDirection="center"
    />
    <Button
      color="danger"
      text="Delete private key"
      Icon={Warning}
      tooltip="Delete private OpenPGP key"
      onclick={deletePrivateKey}
      disabled={confirmBtnDisabled}
    />
  </div>
</Dialog>

<style>
  p {
    margin: 0.8em 0;
  }

  .button-layout {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
</style>
