<script lang="ts">
  import { ValidityPresets } from './datetime';

  interface Props {
    validityPreset: ValidityPresets;
    validityExpiryDate: string | null;
  }

  let {
    validityPreset = $bindable(),
    validityExpiryDate = $bindable(),
  }: Props = $props();
</script>

<div>
  key expires {validityPreset === ValidityPresets.custom ? 'on' : 'in'}
  <select bind:value={validityPreset}>
    {#each Object.values(ValidityPresets) as expiryOption (expiryOption)}
      <option value={expiryOption}>{expiryOption}</option>
    {/each}
  </select>
  {#if validityPreset === ValidityPresets.custom}
    <input type="date" bind:value={validityExpiryDate} />
  {/if}
</div>
