<script lang="ts">
  import { invoke } from '@tauri-apps/api';
  import { save } from '@tauri-apps/api/dialog';
  import { writeTextFile } from '@tauri-apps/api/fs';

  import { NotificationLevel, toasts } from '../../store/event';
  import { CertType } from '../../store/cert';
  import { settingsStore } from '../../store/settings';

  import Alert from '../../component/Alert.svelte';
  import Button from '../../component/Button.svelte';
  import CopyToClipboard from '../../component/CopyToClipboard.svelte';
  import Dialog from '../../component/Dialog.svelte';
  import DocumentArrowDown from '../../icon/DocumentArrowDown.svelte';

  interface Props {
    fingerprint: string;
    certType: CertType;
    onclose: () => void;
  }

  const { fingerprint, certType, onclose }: Props = $props();

  const cert = invoke<string>('export_cert', {
    store: {
      public: $settingsStore.publicKeyStore,
      private: $settingsStore.privateKeyStore,
    },
    fingerprint,
    certType,
  });

  async function saveToFile(text: string) {
    const path = await save({
      defaultPath:
        fingerprint + `${certType === CertType.Public ? '.pub' : '.sec'}.asc`,
      filters: [
        {
          name: 'OpenPGP',
          extensions: ['asc'],
        },
      ],
    });
    if (path) {
      await writeTextFile(path, text);
      toasts.add({
        level: NotificationLevel.Success,
        message: 'Key successfully saved to file',
        timeout: 3000,
        dismissible: false,
      });
      onclose();
    }
  }
</script>

<Dialog
  {onclose}
  title={`Export key - ${
    certType === CertType.Public ? 'public' : 'public and secret'
  }`}
>
  {#await cert}
    <p>Exporting key...</p>
  {:then cert}
    {#if certType === CertType.Secret}
      <Alert level={NotificationLevel.Warning}>
        <p>
          <strong>Important:</strong> you are exporting a
          <strong>private key</strong>. Make sure to store it safely, and never
          share it with anyone.
        </p>
      </Alert>
    {/if}
    <pre>{cert}</pre>
    <span class="button-layout">
      <Button
        color="secondary"
        text="Close"
        tooltip="Close window"
        tooltipDirection="to-right"
        onclick={onclose}
      />
      <CopyToClipboard
        toCopy={cert}
        successMsg="Key copied to clipboard"
        tooltip="Copy key content to clipboard"
        tooltipDirection="center"
      />
      <Button
        color="primary"
        text="Save to file"
        Icon={DocumentArrowDown}
        tooltip="Save key as a local file on disk"
        onclick={() => saveToFile(cert)}
      />
    </span>
  {:catch error}
    <Alert level={NotificationLevel.Error}>Failed to export key: {error}</Alert>
  {/await}
</Dialog>

<style>
  pre {
    padding: 1em;
    margin: 1em 0;
    background-color: var(--color-component-bg);
    overflow-x: auto;
    max-height: 20em;
  }

  .button-layout {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
</style>
