<script lang="ts">
  import { invoke } from '@tauri-apps/api';

  import { type CertInfo } from '../../store/cert';
  import { NotificationLevel } from '../../store/event';
  import { settingsStore } from '../../store/settings';

  import Alert from '../../component/Alert.svelte';
  import ArrowDownTray from '../../icon/ArrowDownTray.svelte';
  import Button from '../../component/Button.svelte';
  import Dialog from '../../component/Dialog.svelte';

  let identifier = $state('');
  let dialogState: 'error' | 'initial' | 'pending' | 'success' =
    $state('initial');
  let errorMsg = $state('');
  let cert: CertInfo | null = $state(null);

  // Regexp that matches OpenPGP fingerprints or email addresses.
  const validationRegexp =
    '^[a-fA-F0-9]{40}$|^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$';

  interface Props {
    onclose: () => void;
    refreshCertStore: () => void;
  }

  const { onclose, refreshCertStore }: Props = $props();

  async function importCert(event: Event) {
    event.preventDefault();
    dialogState = 'pending';
    try {
      cert = await invoke<CertInfo>('import_cert_from_keyserver', {
        store: {
          public: $settingsStore.publicKeyStore,
          private: $settingsStore.privateKeyStore,
        },
        identifier,
      });
      dialogState = 'success';
    } catch (e) {
      dialogState = 'error';
      errorMsg = e as string;
    }
    refreshCertStore();
    identifier = '';
  }
</script>

<Dialog {onclose} title="Import OpenPGP key from keyserver">
  {#if dialogState === 'success'}
    {#if cert}
      <Alert level={NotificationLevel.Success}
        >Successfully imported {`"${cert.userid || ''} ${
          cert.fingerprint
        }"`}</Alert
      >
      <div class="btn-group">
        <Button color="secondary" text="Close" onclick={onclose} />
      </div>
    {/if}
  {:else}
    {#if dialogState === 'error'}
      <div class="alert">
        <Alert level={NotificationLevel.Error}>{errorMsg}</Alert>
      </div>
    {/if}
    <form onsubmit={importCert}>
      <p>
        Enter the full email or fingerprint of the OpenPGP key to download and
        import.
      </p>
      <p>Keys are downloaded from: {$settingsStore.keyserverURL}</p>
      <div class="grid-layout">
        <label for="identifier">Key identifier</label>
        <input
          id="identifier"
          bind:value={identifier}
          type="text"
          required
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off"
          placeholder="Enter key fingerprint or email"
          pattern={validationRegexp}
          title="Enter a valid email or fingerprint (40 hexadecimal characters)."
        />
      </div>
      <div class="btn-group">
        <Button color="secondary" text="Cancel" onclick={onclose} />
        <Button
          color="primary"
          type="submit"
          Icon={ArrowDownTray}
          tooltip="Download and import the specified key from keyserver"
          disabled={dialogState === 'pending' || identifier.length == 0}
          text={dialogState === 'pending' ? 'Importing...' : 'Import key'}
        />
      </div>
    </form>
  {/if}
</Dialog>

<style>
  label {
    font-weight: bold;
  }

  .alert {
    margin-bottom: 1em;
  }

  .grid-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
  }
</style>
