<script lang="ts">
  import { invoke } from '@tauri-apps/api';

  import { NotificationLevel, toasts } from '../../store/event';
  import { type CertInfo } from '../../store/cert';
  import { settingsStore } from '../../store/settings';

  import ArrowDownTray from '../../icon/ArrowDownTray.svelte';
  import Button from '../../component/Button.svelte';
  import Dialog from '../../component/Dialog.svelte';
  import LoadCertOrSig from './LoadCertOrSig.svelte';

  interface Props {
    onclose: () => void;
    refreshCertStore: () => void;
  }

  const { onclose, refreshCertStore }: Props = $props();

  let textInput = $state('');
  let filePath = $state('');
  let inputIsValid = $state(false);

  async function importCert() {
    try {
      let importedCerts: CertInfo[];
      if (textInput) {
        importedCerts = await invoke<CertInfo[]>('import_cert_from_string', {
          store: {
            public: $settingsStore.publicKeyStore,
            private: $settingsStore.privateKeyStore,
          },
          data: textInput,
        });
      } else {
        importedCerts = await invoke<CertInfo[]>('import_cert_from_file', {
          store: {
            public: $settingsStore.publicKeyStore,
            private: $settingsStore.privateKeyStore,
          },
          path: filePath,
        });
      }
      importedCerts.map((cert) =>
        toasts.add({
          level: NotificationLevel.Success,
          message: `Successfully imported '${[cert.userid, cert.fingerprint]
            .filter((x) => x)
            .join(' ')}'`,
          timeout: 5000,
          dismissible: false,
        }),
      );
      refreshCertStore();
      onclose();
    } catch (e) {
      toasts.add({
        level: NotificationLevel.Error,
        message: e as string,
        timeout: 5000,
        dismissible: false,
      });
    }
  }
</script>

<Dialog {onclose} title="Import OpenPGP key from file">
  <p>Select an OpenPGP key file to import.</p>

  <LoadCertOrSig
    type="cert"
    allowBinary
    bind:textInput
    bind:filePath
    bind:inputIsValid
  />

  <div class="btn-group">
    <Button color="secondary" text="Cancel" onclick={onclose} />
    <Button
      text="Import key"
      Icon={ArrowDownTray}
      color={inputIsValid ? 'primary' : 'secondary'}
      tooltip="Import the selected OpenPGP key to the application's keystore"
      disabled={!inputIsValid}
      onclick={importCert}
    />
  </div>
</Dialog>

<style>
  .btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
</style>
