<script lang="ts">
  import { invoke } from '@tauri-apps/api';

  import { NotificationLevel, toasts } from '../../store/event';
  import { type CertInfo } from '../../store/cert';
  import { settingsStore } from '../../store/settings';

  import Button from '../../component/Button.svelte';
  import Dialog from '../../component/Dialog.svelte';
  import LoadCertOrSig from './LoadCertOrSig.svelte';
  import Trash from '../../icon/Trash.svelte';

  interface Props {
    cert: CertInfo;
    onclose: () => void;
    refreshCertStore: () => void;
  }

  const { cert, onclose, refreshCertStore }: Props = $props();

  let revSignature = $state('');
  let signatureFormatIsValid = $state(false);

  async function revokeCert() {
    try {
      await invoke('revoke_cert', {
        store: {
          public: $settingsStore.publicKeyStore,
          private: $settingsStore.privateKeyStore,
        },
        fingerprint: cert.fingerprint,
        rev: revSignature,
      });
      toasts.add({
        level: NotificationLevel.Success,
        message: `Successfully revoked ${cert.userid ?? cert.fingerprint}`,
        timeout: 5000,
        dismissible: false,
      });
      refreshCertStore();
      onclose();
    } catch (e) {
      toasts.add({
        level: NotificationLevel.Error,
        message: e as string,
        timeout: 5000,
        dismissible: false,
      });
    }
  }
</script>

<Dialog {onclose} title="Revoke key">
  <p>
    Select a revocation signature for <strong
      >{cert.userid ?? cert.fingerprint}</strong
    >
  </p>
  <p>
    To revoke a key, a <strong>revocation signature</strong> is needed. You might
    have stored it in a safe place when you created the OpenPGP key pair. You can
    also create a new revocation signature using the "Create revocation signature"
    action on your key.
  </p>
  <LoadCertOrSig
    type="signature"
    allowBinary={false}
    bind:inputIsValid={signatureFormatIsValid}
    bind:textInput={revSignature}
  />
  <div class="btn-group push-right">
    <Button color="secondary" text="Cancel" onclick={onclose} />
    <Button
      text="Revoke key"
      color={signatureFormatIsValid ? 'primary' : 'secondary'}
      Icon={Trash}
      disabled={!signatureFormatIsValid}
      onclick={revokeCert}
    />
  </div>
</Dialog>

<style>
  p {
    margin-bottom: 1rem;
    max-width: 40rem;
  }

  .btn-group {
    display: flex;
    gap: 0.5rem;
  }

  .push-right {
    justify-content: flex-end;
  }
</style>
