<script lang="ts">
  import { invoke } from '@tauri-apps/api';

  import {
    type CertInfo,
    ExpirationDateKind,
    ExpirationDateStatus,
  } from '../../store/cert';
  import { NotificationLevel, toasts } from '../../store/event';
  import {
    toDuration,
    toMachineReadable,
    tomorrow,
    toValidityPeriod,
    ValidityPresets,
  } from './datetime';
  import { settingsStore } from '../../store/settings';
  import { toHumanReadable } from './datetime';

  import Alert from '../../component/Alert.svelte';
  import ArrowDownTray from '../../icon/ArrowDownTray.svelte';
  import Button from '../../component/Button.svelte';
  import Dialog from '../../component/Dialog.svelte';
  import ExpirationDateInput from './ExpirationDateInput.svelte';

  interface Props {
    cert: CertInfo;
    onclose: () => void;
    refreshCertStore: () => void;
  }

  const { cert, onclose, refreshCertStore }: Props = $props();

  let validityPreset: ValidityPresets = $state(ValidityPresets.y3);
  let validityExpiryDate = $state(
    cert.expirationDate.kind === ExpirationDateKind.At
      ? toMachineReadable(cert.expirationDate.date)
      : tomorrow(),
  );

  async function setExpirationDate() {
    try {
      await invoke('set_expiration_date', {
        store: {
          public: $settingsStore.publicKeyStore,
          private: $settingsStore.privateKeyStore,
        },
        fingerprint: cert.fingerprint,
        userid: cert.userid,
        validityPeriod: toDuration(validityPeriod),
      });
      toasts.add({
        level: NotificationLevel.Success,
        message: `Successfully changed expiration date for ${cert.userid ?? cert.fingerprint}`,
        timeout: 5000,
        dismissible: false,
      });
      refreshCertStore();
      onclose();
    } catch (e) {
      toasts.add({
        level: NotificationLevel.Error,
        message: e as string,
        timeout: 5000,
        dismissible: false,
      });
    }
  }
  const validityPeriod = $derived(
    toValidityPeriod(validityPreset, validityExpiryDate),
  );
  const errorExpiration = $derived(
    validityPeriod !== null && validityPeriod <= 0,
  );
  const validationErrors = $derived([
    ...(errorExpiration ? ['Expiry date must be in the future'] : []),
  ]);
</script>

<Dialog {onclose} title="Set or update expiration date">
  <div class="alert">
    {#each validationErrors as e (e)}
      <Alert level={NotificationLevel.Warning}>{e}</Alert>
    {/each}
  </div>
  <div class="key-description">
    <p>The OpenPGP key</p>
    <pre>{cert.userid} {cert.fingerprint}</pre>
    {#if cert.expirationDate.kind === ExpirationDateKind.At}
      <p>
        {cert.expirationDate.status === ExpirationDateStatus.Valid
          ? 'is currently set to expire'
          : 'has expired'}
        on {toHumanReadable(cert.expirationDate.date)}.
      </p>
    {:else if cert.expirationDate.kind === ExpirationDateKind.Never}
      <p>is currently set to never expire.</p>
    {/if}
  </div>
  <div class="expiry-date">
    <p>
      A new expiration date for this key can be set by selecting a validity
      duration below.
    </p>
    <div class="expiry-date-selector">
      <strong>New expiry date: </strong>
      <ExpirationDateInput bind:validityPreset bind:validityExpiryDate />
    </div>
  </div>
  <div class="button-layout">
    <Button
      color="secondary"
      text="Cancel"
      tooltip="Close window without saving the new expiration date"
      onclick={onclose}
    />
    <Button
      color="primary"
      text="Set new expiry date"
      tooltip="Update the selected certificate's expiration date"
      Icon={ArrowDownTray}
      disabled={errorExpiration}
      onclick={setExpirationDate}
    />
  </div>
</Dialog>

<style>
  .button-layout {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 2rem;
  }

  .alert {
    margin-bottom: 1em;
  }

  .expiry-date {
    margin-top: 1.5rem;
  }

  .expiry-date-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
  }

  pre {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    background-color: var(--color-component-bg);
    overflow-x: auto;
  }
</style>
