<script lang="ts">
  import { invoke } from '@tauri-apps/api';

  import { NotificationLevel, toasts } from '../../store/event';
  import { type CertInfo } from '../../store/cert';
  import { settingsStore } from '../../store/settings';

  import Alert from '../../component/Alert.svelte';
  import ArrowUpTray from '../../icon/ArrowUpTray.svelte';
  import Button from '../../component/Button.svelte';
  import CheckboxInput from '../../component/CheckboxInput.svelte';
  import Dialog from '../../component/Dialog.svelte';

  let errorMsg = $state('');
  let verify = $state(true);
  const trimmedURL = $settingsStore.keyserverURL.replace(/^https:\/\//, '');

  interface Props {
    cert: CertInfo;
    onclose: () => void;
  }

  const { cert, onclose }: Props = $props();

  function extractEmailFromCertInfo(cert: CertInfo): string {
    const rx = /<(.*)>/g;
    const result = rx.exec(cert.userid!) || [''];
    return result[1];
  }

  async function uploadCert(event: Event) {
    event.preventDefault();
    try {
      const message = await invoke<string>('upload_cert_to_keyserver', {
        store: {
          public: $settingsStore.publicKeyStore,
          private: $settingsStore.privateKeyStore,
        },
        fingerprint: cert.fingerprint,
        verify,
      });
      toasts.add({
        level: NotificationLevel.Success,
        message,
        timeout: 5000,
        dismissible: false,
      });
      onclose();
    } catch (e) {
      errorMsg = e as string;
    }
  }
</script>

<Dialog
  {onclose}
  title="Upload public key to keyserver"
  closeOnBackdropClick={false}
>
  {#if errorMsg}
    <Alert level={NotificationLevel.Error}>{errorMsg}</Alert>
  {/if}

  <form onsubmit={uploadCert}>
    <p>By uploading and publishing your public key:</p>
    <pre>{cert.userid} {cert.fingerprint}</pre>
    <p>
      to the public keyserver
      <a href={$settingsStore.keyserverURL} tabindex={-1}>{trimmedURL}</a>, you
      enable other users to access and download it, so they can use it to
      encrypt data for you or verify data signed by you.
    </p>
    <CheckboxInput name="verify" bind:checked={verify} autofocus>
      Associate the key with your email address. This allows others to search
      for your key by its email address. To establish this association, a
      verification email will be sent to:
      <strong>{extractEmailFromCertInfo(cert)}</strong>.
    </CheckboxInput>

    <div class="button-layout">
      <Button color="secondary" text="Close without upload" onclick={onclose} />
      <Button
        color="primary"
        Icon={ArrowUpTray}
        text="Upload to keyserver"
        type="submit"
      />
    </div>
  </form>
</Dialog>

<style>
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  pre {
    padding: 0.5em;
    background-color: var(--color-component-bg);
    overflow-x: auto;
  }

  .button-layout {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
</style>
