<script lang="ts">
  import type { Snippet } from 'svelte';

  import { NotificationLevel } from '../store/event';

  import Button from './Button.svelte';
  import NotificationLevelIcon from '../icon/NotificationLevel.svelte';
  import XMark from '../icon/XMark.svelte';

  interface Props {
    level?: NotificationLevel;
    showIcon?: boolean;
    dismissible?: boolean;
    onDismiss?: () => void;
    roundCorners?: boolean;
    children?: Snippet;
  }

  const {
    level = NotificationLevel.Info,
    showIcon = true,
    dismissible = false,
    onDismiss = () => {},
    roundCorners = false,
    children,
  }: Props = $props();
</script>

<div class={level.toLowerCase()} class:round-corners={roundCorners}>
  {#if showIcon}
    <NotificationLevelIcon {level} />
  {/if}
  {@render children?.()}
  {#if dismissible}
    <span class="push-to-end">
      <Button
        Icon={XMark}
        color="inherit-color"
        size="x-small"
        tooltip="Dismiss notification"
        onclick={onDismiss}
      />
    </span>
  {/if}
</div>

<style>
  div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.6rem 1rem 0.6rem 0.6rem;
    margin-left: auto;
    color: var(--color-white);
  }

  .info {
    background-color: var(--color-info);
  }

  .success {
    background-color: var(--color-success);
  }

  .warning {
    background-color: var(--color-warning);
  }

  .error {
    background-color: var(--color-error);
  }

  .round-corners {
    border-radius: 0.3em;
  }

  .push-to-end {
    margin-left: auto;
  }
</style>
