<script lang="ts">
  import ElementWithTooltip from './ElementWithTooltip.svelte';
  import ToggleInput from './ToggleInput.svelte';

  interface Props {
    checked: boolean;
  }

  let { checked = $bindable() }: Props = $props();
</script>

<ElementWithTooltip
  tooltip="Simplified view (some options are automatically populated from Portal)"
  tooltipPosition="bottom"
  tooltipDirection="to-left"
>
  <ToggleInput bind:checked />
</ElementWithTooltip>
