<script lang="ts">
  import { type TooltipDirection, type TooltipPosition } from './utils';

  import ElementWithTooltip from './ElementWithTooltip.svelte';

  interface Props {
    text: string;
    color: 'blue' | 'green' | 'orange' | 'red';
    tooltip?: string;
    tooltipPosition?: TooltipPosition;
    tooltipDirection?: TooltipDirection;
  }

  const {
    text,
    color,
    tooltip,
    tooltipPosition = 'bottom',
    tooltipDirection = 'to-right',
  }: Props = $props();
</script>

<div class="badge-pill {color}">
  <ElementWithTooltip {tooltip} {tooltipPosition} {tooltipDirection}>
    <span class="badge-text">
      {text}
    </span>
  </ElementWithTooltip>
</div>

<style>
  .badge-pill {
    position: relative;
    border-radius: 0.8rem;
  }

  .badge-text {
    padding: 0 0.7rem;
    color: var(--color-white);
    text-align: center;
    text-transform: capitalize;
  }

  .blue {
    background-color: var(--color-info);
  }

  .green {
    background-color: var(--color-success);
  }

  .orange {
    background-color: var(--color-warning);
  }

  .red {
    background-color: var(--color-error);
  }
</style>
