<script lang="ts">
  import type { Component } from 'svelte';

  import { type TooltipDirection, type TooltipPosition } from './utils';

  import Tooltip from './Tooltip.svelte';

  interface Props {
    size?: 'large' | 'medium' | 'small' | 'x-small' | 'xx-small';
    color?:
      | 'danger'
      | 'inherit-color'
      | 'primary'
      | 'secondary'
      | 'transparent';
    outline?: boolean;
    text?: string;
    type?: 'button' | 'reset' | 'submit';
    disabled?: boolean;
    Icon?: Component;
    tabindex?: number;
    tooltip?: string;
    tooltipPosition?: TooltipPosition;
    tooltipDirection?: TooltipDirection;
    onclick?: () => void;
  }

  const {
    size = 'small',
    color = 'transparent',
    outline = false,
    text,
    type = 'button',
    disabled = false,
    Icon,
    tabindex,
    tooltip,
    tooltipPosition = 'top',
    tooltipDirection = 'to-left',
    onclick,
  }: Props = $props();

  const slim = $derived(color === 'transparent' && !outline);
</script>

<button
  {type}
  {disabled}
  {onclick}
  class="{color} {size}"
  class:outline
  class:slim
  {tabindex}
>
  <div class="icon-and-text-layout">
    {#if Icon}
      <span class="icon">
        <Icon />
      </span>
    {/if}
    {#if text}
      {text}
    {/if}
  </div>
  <Tooltip
    ref="tooltip-button"
    text={tooltip}
    position={tooltipPosition}
    direction={tooltipDirection}
  />
</button>

<style>
  button {
    position: relative;
    color: inherit;
    border: none;
    text-align: center;
    justify-content: center;
    border-radius: 0.5em;

    &:hover :global([ref='tooltip-button']) {
      visibility: visible;
      transition-delay: var(--tooltip-delay);
    }
    &:focus-visible {
      outline: var(--focus-outline);
      border-radius: var(--focus-border-radius);
    }
  }

  button:disabled {
    background-color: var(--color-gray);
    color: var(--color-text-muted);
    filter: none;
  }

  .icon-and-text-layout {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
  }

  /* Background color choices. */
  .primary {
    background-color: var(--color-primary);
    &:hover {
      background-color: var(--color-primary-bright);
    }
  }
  .secondary {
    background-color: var(--color-gray);
    &:hover {
      background-color: var(--color-gray-bright);
    }
  }
  .transparent {
    background-color: transparent;
    &:hover {
      background-color: var(--color-light-gray);
    }
  }
  .inherit-color {
    background-color: inherit;
    &:hover {
      filter: brightness(0.9);
    }
  }
  .danger {
    background-color: var(--color-error);
    color: var(--color-white);
    &:hover {
      filter: brightness(0.9);
    }
  }

  .outline {
    border: 1px solid var(--color-text);
  }

  /* Icon size choices. */
  .large {
    padding: 0.8em;
    & .icon {
      width: 4em;
      height: 4em;
    }
  }
  .medium {
    padding: 0.3em 1em 0.3em 0.5em;
    & .icon {
      width: 3em;
      height: 3em;
    }
  }
  .small {
    padding: 0.3em 0.8em;
    min-height: 2.22em;
    & .icon {
      width: 1.5em;
      height: 1.5em;
    }
  }
  .x-small {
    padding: 0.2em 0.4em 0.2em 0.4em;
    border-radius: 0.4em;
    & .icon {
      width: 1.2em;
      height: 1.2em;
    }
  }
  .xx-small {
    border-radius: 0.2rem;
    & .icon {
      width: 1rem;
      height: 1rem;
    }
  }

  .slim {
    padding: 0.1em;
    border-radius: 0.3em;
  }
</style>
