<script lang="ts">
  import type { Component } from 'svelte';

  import Button from './Button.svelte';

  interface Props {
    hidden?: boolean;
    text?: string;
    tooltip?: string;
    Icon?: Component;
    disabled?: boolean;
  }

  const {
    hidden = false,
    text = '',
    tooltip = '',
    Icon,
    disabled = false,
  }: Props = $props();
</script>

<div class:hidden>
  <Button
    size="medium"
    color="primary"
    type="submit"
    {Icon}
    {text}
    {tooltip}
    tooltipPosition="right"
    {disabled}
  />
</div>
