<script lang="ts">
  import type { Component, Snippet } from 'svelte';

  import Button from './Button.svelte';
  import Tooltip from './Tooltip.svelte';
  import XMark from '../icon/XMark.svelte';

  interface Props {
    onClear?: () => void;
    tooltip?: string;
    Icon?: Component;
    children?: Snippet;
  }

  const { onClear, tooltip = '', Icon, children }: Props = $props();
</script>

<div class="chip" class:padding-no-clear-button={!onClear}>
  <span class="icon-and-text">
    {#if Icon}
      <div class="icon">
        <Icon />
      </div>
    {/if}
    {@render children?.()}
    <Tooltip
      ref="tooltip-chip"
      text={tooltip}
      position="bottom"
      direction="to-right"
    />
  </span>
  {#if onClear}
    <span class="clear-button">
      <Button
        Icon={XMark}
        size="xx-small"
        color="inherit-color"
        tooltip="Clear item"
        tooltipPosition="top"
        tooltipDirection="center"
        onclick={onClear}
      />
    </span>
  {/if}
</div>

<style>
  .chip {
    display: flex;
    align-items: start;
    padding-left: 0.5rem;
    padding-right: 0.3rem;
    width: fit-content;
    gap: 0.3em;
    background-color: var(--color-light-gray);
    color: var(--color-text);
    border: 1px solid var(--color-gray);
    border-radius: 0.4em;
  }

  .padding-no-clear-button {
    padding-right: 0.5rem;
  }

  .icon-and-text {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.2em;

    &:hover :global([ref='tooltip-chip']) {
      visibility: visible;
      transition-delay: var(--tooltip-delay);
    }
  }

  .icon {
    width: 1.2rem;
    height: 1.2rem;
  }

  .clear-button {
    /* 
      Rational: default line size is 24px. Button height is 16px. To center
      the button on the 1st line, the offset must be (24-16)/2 = 4px.
    */
    margin-top: 4px;
    line-height: 16px;
    background-color: inherit;
  }
</style>
