<script lang="ts">
  import XCircle from '../icon/XCircle.svelte';

  interface Props {
    value?: string;
    name?: string;
    id?: string;
    placeholder?: string;
    readonly?: boolean;
    onclick: () => void;
    onclear: () => void;
  }

  const {
    value = '',
    name = '',
    id = '',
    placeholder = '',
    readonly = false,
    onclick,
    onclear,
  }: Props = $props();
</script>

<div>
  <input
    type="text"
    {name}
    {id}
    {placeholder}
    {readonly}
    {onclick}
    {value}
    autocapitalize="none"
    autocomplete="off"
    autocorrect="off"
  />
  <button
    type="button"
    aria-label="Clear input"
    onclick={onclear}
    class:hidden={!value}
  >
    <XCircle />
  </button>
</div>

<style>
  button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 2px;
    height: 1.3rem;
    width: 1.3rem;
    background-color: inherit;
    border: none;
  }

  div {
    position: relative;
  }

  input {
    width: 100%;
    padding: 0.3rem;
    margin: 0.3rem 0;
  }
</style>
