<script lang="ts">
  import type {
    DestinationKind,
    LocalProps,
    S3Props,
    SftpProps,
  } from '../store/destination';
  import { getContext } from 'svelte';
  import { type Writable } from 'svelte/store';

  import DirectorySelector from './DirectorySelector.svelte';
  import S3 from './S3.svelte';
  import Sftp from './Sftp.svelte';

  interface Props {
    authenticatedMode: boolean;
    destinations: DestinationKind[];
    value: DestinationKind;
    onchange: (destination: DestinationKind) => void;
  }
  const { authenticatedMode, destinations, value, onchange }: Props = $props();
  const { s3Props, sftpProps, localProps } = getContext('store') as {
    s3Props: Writable<S3Props>;
    sftpProps: Writable<SftpProps>;
    localProps: Writable<LocalProps>;
  };
</script>

<fieldset>
  <legend>
    <select
      {value}
      onchange={(event) =>
        onchange((event.target as HTMLSelectElement).value as DestinationKind)}
    >
      {#each destinations as option (option)}
        <option value={option}>{option}</option>
      {/each}
    </select>
  </legend>
  {#if value === 's3'}
    {#if authenticatedMode}
      <div>
        <strong>Authenticated mode: </strong>
        connection details and credentials are automatically retrieved.
      </div>
    {:else}
      <S3
        bind:url={$s3Props.url}
        bind:bucket={$s3Props.bucket}
        bind:accessKey={$s3Props.accessKey}
        bind:secretKey={$s3Props.secretKey}
        bind:sessionToken={$s3Props.sessionToken}
      />
    {/if}
  {:else if value === 'sftp'}
    <Sftp
      bind:username={$sftpProps.username}
      bind:host={$sftpProps.host}
      bind:basePath={$sftpProps.basePath}
      bind:sshKeyLocation={$sftpProps.sshKey.location}
      bind:sshKeyPassword={$sftpProps.sshKey.password}
    />
  {:else if value === 'local'}
    <DirectorySelector
      bind:selectedDir={$localProps}
      helpText="Select directory to save the encrypted data package."
    />
  {/if}
</fieldset>

<style>
  fieldset {
    padding: 1rem;
    border: 1px solid var(--color-text);
  }

  select {
    width: 10rem;
    font-size: 1.1rem;
    border: 1px solid var(--color-text);
  }
</style>
