<script lang="ts">
  import { onMount, type Snippet } from 'svelte';

  interface Props {
    title?: string;
    closeOnBackdropClick?: boolean;
    children: Snippet;
    onclose: () => void;
  }

  const {
    title = '',
    closeOnBackdropClick = true,
    children,
    onclose,
  }: Props = $props();

  let dialog: HTMLDialogElement | undefined = $state();

  onMount(() => {
    dialog?.showModal();
    if (!closeOnBackdropClick) {
      const preventCancel = (event: Event) => {
        event.preventDefault();
      };
      dialog?.addEventListener('cancel', preventCancel);
      return () => {
        dialog?.removeEventListener('cancel', preventCancel);
      };
    }
  });

  /* eslint-disable svelte/no-unused-svelte-ignore */
</script>

<!-- svelte-ignore a11y_click_events_have_key_events, a11y_no_noninteractive_element_interactions -->
<dialog
  onclick={() => closeOnBackdropClick && dialog?.close()}
  bind:this={dialog}
  {onclose}
>
  <!-- svelte-ignore a11y_click_events_have_key_events, a11y_no_static_element_interactions -->
  <div onclick={(e) => e.stopPropagation()}>
    {#if title !== ''}
      <header>
        <h1>{title}</h1>
      </header>
    {/if}
    {@render children()}
  </div>
</dialog>

<style>
  dialog {
    color: var(--color-text);
    background-color: var(--color-bg);
    border-radius: 0.3rem;
    border: none;
    padding: 0;
    max-width: 75%;

    & > div {
      padding: 1em;
    }
  }

  dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
    @media (prefers-color-scheme: dark) {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  dialog[open] {
    animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  @keyframes zoom {
    from {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }

  dialog[open]::backdrop {
    animation: fade 0.2s ease-out;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  h1 {
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 0.5rem;
  }

  header {
    flex: 0 1 auto;
    margin-bottom: 1rem;
  }
</style>
