<script lang="ts">
  import { isWriteable, selectDirectory } from '../page/utils';
  import { lastSelectedDir, settingsStore } from '../store/settings';

  import Button from './Button.svelte';
  import Chip from './Chip.svelte';
  import Folder from '../icon/Folder.svelte';
  import Warning from '../icon/Warning.svelte';

  interface Props {
    selectedDir: string;
    helpText?: string;
  }

  // eslint-disable-next-line prefer-const
  let { selectedDir = $bindable(), helpText = '' }: Props = $props();
  let clearDirClicked: boolean = $state(false);

  const handleSelectDir = () => {
    selectDirectory((selected) => {
      selectedDir = $lastSelectedDir = selected;
    });
  };

  const clearDir = () => {
    selectedDir = '';
    clearDirClicked = true;
  };

  $effect(() => {
    if (selectedDir === '' && !clearDirClicked) {
      if ($lastSelectedDir) {
        selectedDir = $lastSelectedDir;
      } else {
        selectedDir = $lastSelectedDir = $settingsStore.defaultOutputDir;
      }
    }
  });
</script>

<div class="container">
  <div class="button-and-help-text">
    {#if !selectedDir}
      <Button
        Icon={Folder}
        text="Select directory"
        color="secondary"
        size="small"
        onclick={handleSelectDir}
      />
      {#if helpText}
        <p class="muted-text">{helpText}</p>
      {/if}
    {/if}
  </div>
  <div class="selected-item">
    {#if selectedDir}
      {#await isWriteable(selectedDir) then value}
        <Chip
          Icon={!value ? Warning : undefined}
          onClear={clearDir}
          tooltip={!value
            ? "Selected directory is not writeable. You probably won't be able to store files there."
            : undefined}
        >
          {selectedDir}
        </Chip>
      {/await}
    {:else}
      <p class="muted-text">No directory selected</p>
    {/if}
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .button-and-help-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }

  .selected-item {
    margin-top: 0.5em;
  }

  .muted-text {
    color: var(--color-text-muted);
  }
</style>
