<!--
@component

This component can be used to select files or directories via buttons
or drag-and-drop.
-->

<script lang="ts">
  import type { DropZoneButton, TableRow } from './utils';
  import { basename } from '../page/utils';
  import { fileDragStatus } from '../store/event';
  import { type FilePath } from '../store/encrypt';

  import Button from './Button.svelte';
  import Chip from './Chip.svelte';
  import Folder from '../icon/Folder.svelte';
  import Table from './Table.svelte';

  interface Props {
    buttons?: DropZoneButton[];
    dataAsTable?: TableRow[];
    selectedItems?: FilePath[];
    helpText: string;
    clearItem: (item?: string) => void;
  }

  const {
    buttons = [],
    dataAsTable,
    selectedItems,
    helpText,
    clearItem,
  }: Props = $props();

  function dragEnter(event: DragEvent) {
    event.preventDefault();
    $fileDragStatus = true;
  }

  function dragLeave(event: DragEvent) {
    event.preventDefault();
    $fileDragStatus = false;
  }
</script>

<!-- svelte-ignore a11y_no_static_element_interactions -->
<div
  class="drag-area"
  class:drag-over={$fileDragStatus}
  ondragenter={dragEnter}
  ondragleave={dragLeave}
>
  {#if buttons.length || helpText}
    <div class="buttons-and-help-text no-drag-detect">
      <div class="buttons drag-detect">
        {#each buttons as button (button.text)}
          <Button
            Icon={button.Icon}
            text={button.text}
            color={button.color}
            size={button.size}
            onclick={button.selectItem}
            tooltip={button.tooltip}
            tooltipDirection="to-right"
            tooltipPosition="bottom"
          />
        {/each}
      </div>
      {#if helpText}
        <p class="muted-text">{helpText}</p>
      {/if}
    </div>
  {/if}

  <div class="selected-items">
    {#if dataAsTable}
      <Chip onClear={() => clearItem()}>
        <Table data={dataAsTable} />
      </Chip>
    {:else if selectedItems?.length}
      {#each selectedItems as filePath (filePath.path)}
        <Chip
          tooltip={filePath.path}
          onClear={() => clearItem(filePath.path)}
          Icon={filePath.directory ? Folder : undefined}
        >
          {basename(filePath.path)}
        </Chip>
      {/each}
    {/if}
  </div>
</div>

<style>
  .buttons-and-help-text {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
  }

  .buttons {
    display: flex;
    gap: 0.3em;
  }

  .muted-text {
    color: var(--color-text-muted);
  }

  .selected-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
  }

  .drag-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    border: 2px dashed var(--color-text-muted);
    padding: 0.7rem;
    border-radius: 0.5em;
    cursor: pointer;
  }

  .drag-over {
    border-color: var(--color-text);
    background-color: var(--color-light-gray);
  }

  .no-drag-detect {
    /*
    Disables detection of dragenter/dragleave events.
    on:dragleave appears to be triggered also when entering a sub-element.
    This is suboptimal as it means that when drag-hovering over a sub-element
    in the drag-and-drop area, `isDragging` becomes false.
    Disabling the detection of pointer events is a workaround for this.
    */
    pointer-events: none;
  }

  .drag-detect {
    /*
    Enable detection of dragenter/dragleave events. Additionally, this also
    enables other pointer events, such as a button click.
    */
    pointer-events: auto;
  }
</style>
