<script lang="ts">
  import type { Component } from 'svelte';

  import { type TooltipDirection, type TooltipPosition } from './utils';

  import Button from './Button.svelte';

  let hidden = $state(true);
  let container: HTMLDivElement | undefined = $state();

  function handleClickOutside(event: MouseEvent) {
    if (!container?.contains(event.target as Node)) {
      hidden = true;
    }
  }

  interface Props {
    text?: string;
    outline?: boolean;
    color?: 'primary' | 'secondary' | 'transparent';
    actions?: { label: string; action: () => void }[];
    direction?: 'left' | 'right';
    Icon?: Component;
    tooltip?: string;
    tooltipPosition?: TooltipPosition;
    tooltipDirection?: TooltipDirection;
  }

  const {
    text,
    outline = false,
    color = 'transparent',
    actions = [],
    direction = 'left',
    Icon,
    tooltip,
    tooltipPosition = 'top',
    tooltipDirection = 'to-left',
  }: Props = $props();
</script>

<svelte:window onclick={handleClickOutside} />

<div bind:this={container} class="container">
  <Button
    {Icon}
    {text}
    {outline}
    {color}
    {tooltip}
    {tooltipPosition}
    {tooltipDirection}
    onclick={() => (hidden = !hidden)}
  />
  <ul class:hidden class={direction}>
    {#each actions as { label, action } (label)}
      <li>
        <button
          onclick={() => {
            hidden = true;
            action();
          }}>{label}</button
        >
      </li>
    {/each}
  </ul>
</div>

<style>
  ul {
    position: absolute;
    margin: 0.3rem 0 0 0;
    padding: 0;
    list-style: none;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);

    & button {
      width: 100%;
      height: 100%;
      padding: 0.5em;
      color: var(--color-text);
      background-color: var(--color-bg);
      border: none;
      text-align: left;
      white-space: nowrap;

      &:hover {
        background-color: var(--color-gray);
      }
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .container {
    position: relative;
  }
</style>
