<script lang="ts">
  import type { Snippet } from 'svelte';

  import { type TooltipDirection, type TooltipPosition } from './utils';

  import Tooltip from './Tooltip.svelte';

  interface Props {
    tooltip?: string;
    tooltipPosition?: TooltipPosition;
    tooltipDirection?: TooltipDirection;
    compactTooltip?: boolean;
    children: Snippet;
  }

  const {
    tooltip,
    tooltipPosition = 'bottom',
    tooltipDirection = 'to-right',
    compactTooltip = false,
    children,
  }: Props = $props();
</script>

<div class="element-with-tooltip">
  {@render children()}
  <Tooltip
    ref="tooltip-element"
    text={tooltip}
    position={tooltipPosition}
    direction={tooltipDirection}
    compact={compactTooltip}
  />
</div>

<style>
  .element-with-tooltip {
    position: relative;

    &:hover :global([ref='tooltip-element']) {
      visibility: visible;
      transition-delay: var(--tooltip-delay);
    }
  }
</style>
