<script lang="ts">
  import Button from './Button.svelte';
  import Chip from './Chip.svelte';
  import PlusCircle from '../icon/PlusCircle.svelte';

  interface Props {
    metadataItems: Map<string, string>;
    addItem: (key: string, value: string) => void;
    removeItem: (key: string) => void;
  }

  const { metadataItems, addItem, removeItem }: Props = $props();

  let key = $state('');
  let value = $state('');
  let keyInput: HTMLInputElement | undefined = $state();
  const enableAddButton = $derived(key.trim().length > 0);

  // Adds metadata key:value pair entered by the user to the extra metadata.
  function addMetadata(event: Event) {
    event.preventDefault();
    addItem(key.trim(), value.trim());
    // Reset metadata values.
    key = '';
    value = '';
    // Move focus back to the "key name" input field.
    if (keyInput) {
      keyInput.focus();
    }
  }
</script>

<!-- Note: using a form here so that pressing "Enter" when one of the input
 fields is in focus will trigger the on:submit action. -->
<form onsubmit={addMetadata}>
  <div class="input-fields">
    <input
      type="text"
      name="key"
      placeholder="Key name"
      autocapitalize="none"
      autocomplete="off"
      autocorrect="off"
      bind:value={key}
      bind:this={keyInput}
    />
    <input
      type="text"
      name="value"
      placeholder="Value"
      autocapitalize="none"
      autocomplete="off"
      autocorrect="off"
      bind:value
    />
    <Button
      Icon={PlusCircle}
      size="x-small"
      color="secondary"
      tooltip="Add 'name:value' pair to extra metadata"
      tooltipPosition="right"
      disabled={!enableAddButton}
      type="submit"
    />
  </div>
</form>

<div class="metadata-chips">
  {#each metadataItems as [key, value] (key)}
    <Chip onClear={() => removeItem(key)}>
      {`${key} : ${value}`}
    </Chip>
  {/each}
</div>

<style>
  .input-fields {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .metadata-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
    margin-top: 0.7em;
  }
</style>
