<script lang="ts">
  import { listen, type UnlistenFn } from '@tauri-apps/api/event';
  import { invoke } from '@tauri-apps/api';
  import type { SnakeCasedProperties } from 'type-fest';

  import { authenticatedMode, userInfo, type UserInfo } from '../store/auth';
  import { destinationKind, transferId } from '../store/encrypt';
  import { NotificationLevel, toasts } from '../store/event';
  import { onDestroy, onMount } from 'svelte';
  import { dataTransferStore } from '../store/transfer';
  import { settingsStore } from '../store/settings';

  import Button from './Button.svelte';
  import CopyToClipboard from './CopyToClipboard.svelte';
  import Dialog from './Dialog.svelte';

  type Details = {
    userCode: string;
    verificationUri: string;
    verificationUriComplete?: string;
  };

  interface Props {
    onclose: () => void;
  }

  const { onclose }: Props = $props();
  let details: Details | undefined = $state(undefined);
  let authenticating = $state(false);

  // Perform some housekeeping (reset, refresh) of settings used in the
  // Encrypt tab.
  async function resetEncryptTabSettings() {
    await dataTransferStore.refresh();
    transferId.set(null);

    // Set data destination options to the most likely value to be selected
    // by the users when in authenticated mode.
    destinationKind.set('s3');
  }

  // Runs the authentication process and retrieves user info.
  const authenticate = async () => {
    authenticating = true;
    await invoke('login', { oidcIssuer: $settingsStore.oidcIssuerURL })
      .then(async () => {
        return await invoke('fetch_user_info', {
          oidcIssuer: $settingsStore.oidcIssuerURL,
        })
          .then((serverResponse) => {
            const userInfoResp =
              serverResponse as SnakeCasedProperties<UserInfo>;
            userInfo.set({
              email: userInfoResp.email,
              username: userInfoResp.username,
              givenName: userInfoResp.given_name,
              familyName: userInfoResp.family_name,
            });
            $authenticatedMode = true;
            toasts.add({
              level: NotificationLevel.Success,
              message: 'Successfully authenticated.',
              timeout: 5000,
              dismissible: false,
            });
          })
          .then(resetEncryptTabSettings);
      })
      .catch((err) =>
        toasts.add({
          level: NotificationLevel.Error,
          message: err,
          timeout: 10000,
          dismissible: true,
        }),
      )
      .finally(cancel);
  };

  const doVerification = async (url?: string) => {
    if (!url) {
      return;
    }
    await invoke('open_url', {
      url,
    });
  };

  const cancel = () => {
    details = undefined;
    authenticating = false;
    onclose();
  };

  // This component always listens for the verification `details`, propagated
  // by the backend.
  const listenForDetails = (): Promise<UnlistenFn> => {
    return listen<SnakeCasedProperties<Details>>('details', (event) => {
      const payload = event.payload;
      details = {
        userCode: payload.user_code,
        verificationUri: payload.verification_uri,
        verificationUriComplete: payload.verification_uri_complete,
      };
    });
  };

  let unlisten: UnlistenFn | undefined = undefined;

  onMount(async () => {
    unlisten = await listenForDetails();
  });

  onDestroy(() => {
    if (unlisten) {
      unlisten();
    }
  });

  // Starts the authentication process only when the dialog is shown and
  // not already authenticating.
  onMount(() => {
    if (!authenticating) {
      authenticate();
    }
  });
</script>

<Dialog {onclose} closeOnBackdropClick={false} title="Sign-in">
  <div class="container">
    {#if details}
      <h3>Do you want sett to open the external website?</h3>
      <p class="marginBottom">
        {details.verificationUriComplete || details.verificationUri}
      </p>
      {#if !details.verificationUriComplete}
        <p class="marginBottom">
          Copy the code below and paste it in your browser when asked for it.
        </p>
        <div class="token">
          <label for="token">Code</label>
          <input
            type="text"
            id="token"
            value={details.userCode}
            readonly
            style="width: 100%;"
          />
        </div>
      {/if}
    {:else}
      <p class="marginBottom">Processing...</p>
    {/if}
    <div class="buttons">
      {#if details}
        {#if !details.verificationUriComplete}
          <CopyToClipboard
            text="Copy code"
            tooltip="Copy given code to clipboard"
            toCopy={details.userCode}
          />
        {/if}
        <Button
          color="secondary"
          text="Open website"
          onclick={async () => {
            await doVerification(
              details?.verificationUriComplete || details?.verificationUri,
            );
          }}
        />
      {/if}
      <Button color="secondary" text="Cancel" onclick={cancel} />
    </div>
  </div>
</Dialog>

<style>
  .marginBottom {
    margin-bottom: 0.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    min-height: 5rem;
    gap: 0.5rem;
  }

  .token {
    display: flex;
    gap: 1em;
  }

  .buttons {
    display: flex;
    margin-top: 0.5rem;
    margin-left: auto;
    justify-content: flex-end;
    gap: 0.5rem;
  }
</style>
