<script lang="ts">
  import type { Snippet } from 'svelte';

  import { route, Route } from '../store/route';
  import Tooltip from './Tooltip.svelte';

  interface Props {
    badge?: string;
    path: Route;
    tooltip: string;
    badgeBgColor?: string;
    children: Snippet;
  }

  const {
    badge = '',
    path,
    tooltip,
    badgeBgColor = 'var(--color-accent)',
    children,
  }: Props = $props();
  const selected = $derived(path === $route);
</script>

<button onclick={() => route.set(path)} class:selected>
  <i class="icon">
    {@render children()}
  </i>
  {#if !!badge}
    <span class="badge" style="background-color: {badgeBgColor}">
      <small>{badge}</small>
    </span>
  {/if}
  <Tooltip ref="tooltip-navitem" text={tooltip} position="right" />
</button>

<style>
  button {
    position: relative;
    height: 2rem;
    width: 2rem;
    background-color: inherit;
    color: inherit;
    border: none;
    padding: 0.2rem 0.1rem;

    &:hover :global([ref='tooltip-navitem']) {
      visibility: visible;
      transition-delay: var(--tooltip-delay);
    }

    &:focus-visible {
      outline: var(--focus-outline);
      border-radius: var(--focus-border-radius);
    }
  }

  .icon {
    display: block;

    &:hover {
      scale: 1.25;
    }
  }

  .badge {
    position: absolute;
    top: -0.2em;
    right: -0.5em;
    color: var(--color-white);
    border-radius: 50%;
    line-height: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
    width: 1.5em;
    font-size: 0.75rem;
    font-weight: bold;
  }

  .badge::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .selected {
    color: var(--color-accent);
  }
</style>
