<script lang="ts">
  import type { Snippet } from 'svelte';

  interface Props {
    title: string;
    headerRight?: Snippet;
    children: Snippet;
  }
  const { title, headerRight, children }: Props = $props();
</script>

<div class="column">
  <header>
    <div class="row">
      <h1>{title}</h1>
      {@render headerRight?.()}
    </div>
  </header>
  <main>
    {@render children()}
  </main>
</div>

<style>
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  header {
    flex: 0 1 auto;
    margin: 1rem 0;
  }

  main {
    flex: 1 1 auto;
  }

  .column {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-gray);
  }
</style>
