<script lang="ts">
  import type { Component, Snippet } from 'svelte';

  import Button from './Button.svelte';
  import Dialog from './Dialog.svelte';
  import SecretInput from './SecretInput.svelte';

  interface Props {
    label?: string;
    buttonLabel?: string;
    buttonIcon?: Component;
    buttonTooltip?: string;
    closeOnBackdropClick?: boolean;
    children?: Snippet;
    onsubmit: (password: string) => void;
    onclose: () => void;
  }

  const {
    label = 'Password',
    buttonLabel = 'Submit',
    buttonIcon,
    buttonTooltip,
    closeOnBackdropClick = true,
    children,
    onsubmit,
    onclose,
  }: Props = $props();
  let password = $state('');
</script>

<Dialog {onclose} {closeOnBackdropClick}>
  <form
    onsubmit={(event: Event) => {
      event.preventDefault();
      onsubmit(password);
    }}
  >
    <label for="password">{label}</label>
    {@render children?.()}
    <SecretInput
      bind:userInput={password}
      placeholder="•••••••••"
      required
      autofocus
      id="password"
    />
    <div class="button-layout">
      <Button
        color="primary"
        type="submit"
        text={buttonLabel}
        Icon={buttonIcon}
        tooltip={buttonTooltip}
        tooltipPosition="top"
        tooltipDirection="center"
      />
    </div>
  </form>
</Dialog>

<style>
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  label {
    font-weight: bold;
  }

  .button-layout {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
</style>
