<script lang="ts">
  import { type Event, listen } from '@tauri-apps/api/event';
  import { invoke } from '@tauri-apps/api';
  import { onMount } from 'svelte';

  import PasswordDialog from './PasswordDialog.svelte';
  import Table from './Table.svelte';
  import { type TableRow } from './utils';

  interface PasswordHint {
    fingerprint: string;
    userid: string | null;
    fingerprintPrimary: string | null;
  }

  let passwordHint: PasswordHint = $state({
    fingerprint: '',
    userid: null,
    fingerprintPrimary: null,
  });
  let showPasswordDialog = $state(false);

  function passwordHintAsTable(hint: PasswordHint): TableRow[] {
    const userID = hint.userid || '-- key has no user ID --';
    const primaryFingerprint =
      hint.fingerprintPrimary ?? '-- key has no primary fingerprint --';

    if (hint.fingerprint === hint.fingerprintPrimary) {
      // If the key for which the password is requested happens to be the
      // certificate's primary key, there is no subkey fingerprint to display.
      return [
        { key: 'User ID:', value: userID },
        { key: 'Fingerprint:', value: primaryFingerprint },
      ];
    } else {
      // If the key for which the password is requested is a subkey, the
      // fingerprints of both the subkey and the primary key are displayed.
      return [
        { key: 'User ID:', value: userID },
        { key: 'Primary fingerprint:', value: primaryFingerprint },
        { key: 'Subkey fingerprint:', value: hint.fingerprint },
      ];
    }
  }

  async function listenPasswordPrompt() {
    await listen('password-prompt', (event: Event<PasswordHint>) => {
      passwordHint = event.payload;
      showPasswordDialog = true;
    });
  }

  async function handlePasswordSubmit(password: string) {
    await invoke('add_password', {
      fingerprint: passwordHint.fingerprint,
      password,
    });
    showPasswordDialog = false;
    passwordHint = {
      fingerprint: '',
      userid: null,
      fingerprintPrimary: null,
    };
  }

  onMount(async () => {
    await listenPasswordPrompt();
  });
</script>

{#if showPasswordDialog}
  <PasswordDialog
    onclose={() => (showPasswordDialog = false)}
    onsubmit={handlePasswordSubmit}
    label="Unlock private key"
    buttonLabel="Unlock"
    closeOnBackdropClick={false}
  >
    <p>Please enter the password to unlock the following OpenPGP key:</p>
    <p>
      <Table data={passwordHintAsTable(passwordHint)} />
    </p>
  </PasswordDialog>
{/if}
