<script lang="ts">
  import SecretInput from './SecretInput.svelte';

  interface Props {
    url: string;
    bucket: string;
    accessKey: string;
    secretKey: string;
    sessionToken?: string;
  }

  let {
    url = $bindable(),
    bucket = $bindable(),
    accessKey = $bindable(),
    secretKey = $bindable(),
    sessionToken = $bindable(),
  }: Props = $props();
</script>

<div class="container">
  <div class="row">
    <div class="field">
      <label for="url" class="required">URL</label>
      <input
        type="url"
        name="url"
        id="url"
        placeholder="URL of the S3 server, starting with https://..."
        bind:value={url}
        required
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off"
      />
    </div>
    <div class="field">
      <label for="bucket" class="required">Bucket</label>
      <input
        type="text"
        name="bucket"
        id="bucket"
        placeholder="Name of the S3 storage container"
        bind:value={bucket}
        required
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off"
      />
    </div>
  </div>
  <div class="row">
    <div class="field">
      <label for="accessKey" class="required">Access Key</label>
      <input
        type="text"
        name="accessKey"
        id="accessKey"
        placeholder="Temporary access key for S3 service"
        bind:value={accessKey}
        required
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off"
      />
    </div>
    <div class="field">
      <label for="secretKey" class="required">Secret Key</label>
      <SecretInput
        bind:userInput={secretKey}
        placeholder="Temporary security key for S3 service"
        required
        id="secretKey"
      />
    </div>
  </div>
  <div class="row">
    <div class="field">
      <label for="sessionToken">Session Token</label>
      <SecretInput
        bind:userInput={sessionToken}
        placeholder="Temporary session token for S3 service (optional)"
        id="sessionToken"
      />
    </div>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .field {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
  }

  label {
    margin-right: 0.5rem;
    font-weight: bold;
  }

  input {
    padding: 0.3rem;
    margin: 0.3rem 0;
  }
</style>
