<script lang="ts">
  import Button from './Button.svelte';
  import Eye from '../icon/Eye.svelte';
  import EyeSlash from '../icon/EyeSlash.svelte';

  interface Props {
    userInput?: string;
    placeholder?: string;
    id?: string;
    required?: boolean;
    autofocus?: boolean;
    minlength?: number;
    // This prop can be passed to sync two or more SecretInput components, so
    // that they both hide/show their content at the same time.
    // When using a single SecretInput, this prop should not be passed unless
    // one wants to e.g. show the hidden content by default.
    showPassword?: boolean;
    // Function to execute each time the value in the component changes, i.e.
    // after each keystroke from the user.
    oninput?: () => void;
  }

  let {
    userInput = $bindable(''),
    showPassword = $bindable(false),
    ...props // eslint-disable-line prefer-const
  }: Props = $props();
  const {
    placeholder = '',
    id,
    required = false,
    autofocus = false,
    minlength = 0,
    oninput = () => {},
  } = props;
</script>

<div class="input-with-button">
  <!-- svelte-ignore a11y_autofocus -->
  <input
    bind:value={userInput}
    {placeholder}
    {required}
    {autofocus}
    {id}
    autocapitalize="none"
    autocomplete="off"
    autocorrect="off"
    type={showPassword ? 'text' : 'password'}
    {minlength}
    {oninput}
  />
  <span class="button-style">
    <Button
      Icon={showPassword ? EyeSlash : Eye}
      size="x-small"
      onclick={() => (showPassword = !showPassword)}
      tabindex={-1}
      tooltip={showPassword ? 'hide secret' : 'show secret'}
    />
  </span>
</div>

<style>
  .input-with-button {
    padding-top: 0.3rem;
    display: flex;

    & input {
      width: 100%;
      padding-right: 50px;
    }
  }

  .button-style {
    margin-top: 0.2rem;
    margin-left: -1.8rem;
  }

  ::-ms-reveal,
  ::-ms-clear {
    display: none;
  }
</style>
