<script lang="ts">
  import type { Snippet } from 'svelte';

  interface Props {
    title: string;
    hidden?: boolean;
    children: Snippet;
  }

  const { title, hidden = false, children }: Props = $props();
</script>

<section class:hidden>
  <h2>{title}</h2>
  <div>
    {@render children()}
  </div>
</section>

<style>
  div {
    display: block;
    margin-bottom: 1.5rem;
  }
</style>
