<script lang="ts">
  import { homeDir } from '@tauri-apps/api/path';
  import { open } from '@tauri-apps/api/dialog';

  import ClearableInput from './ClearableInput.svelte';

  interface Props {
    username?: string;
    host?: string;
    basePath?: string;
    sshKeyLocation: string;
    sshKeyPassword: string;
  }

  let {
    username = $bindable(''),
    host = $bindable(''),
    basePath = $bindable(''),
    sshKeyLocation = $bindable(''),
    sshKeyPassword = $bindable(''),
  }: Props = $props();

  const selectSshKeyLocation = async () => {
    const selected = await open({
      multiple: false,
      directory: false,
      defaultPath: await homeDir(),
    });
    if (selected !== null && !Array.isArray(selected)) {
      sshKeyLocation = selected;
    }
  };
</script>

<div class="container">
  <div class="row">
    <div class="field">
      <label for="host" class="required">Host</label>
      <input
        type="text"
        name="host"
        id="host"
        placeholder="URL of the remote host with optional port"
        bind:value={host}
        required
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off"
      />
    </div>
  </div>
  <div class="row">
    <div class="field">
      <label for="username" class="required">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Username on the remote host"
        bind:value={username}
        required
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off"
      />
    </div>
    <div class="field">
      <label for="basePath" class="required">Destination directory</label>
      <input
        type="text"
        name="basePath"
        id="basePath"
        placeholder="Path to the destination directory on the remote host"
        bind:value={basePath}
        required
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off"
      />
    </div>
  </div>
  <div class="row">
    <div class="field">
      <label for="sshKeyLocation">SSH key location</label>
      <ClearableInput
        name="sshKeyLocation"
        id="sshKeyLocation"
        placeholder="Private SSH key path for authentication"
        readonly
        value={sshKeyLocation}
        onclick={selectSshKeyLocation}
        onclear={() => (sshKeyLocation = '')}
      />
    </div>
    <div class="field">
      <label for="sshKeyPassword">SSH key password</label>
      <input
        type="password"
        name="sshKeyPassword"
        id="sshKeyPassword"
        placeholder="Passphrase for the SSH key"
        bind:value={sshKeyPassword}
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off"
      />
    </div>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .field {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
  }

  label {
    margin-right: 0.5rem;
    font-weight: bold;
  }

  input {
    padding: 0.3rem;
    margin: 0.3rem 0;
  }
</style>
