<!--
@component

This component displays data in a 2-columns table format. The data to
display is passed via the `data` argument/prop, which must be an array
of `TableRow` objects, each of which has 3 properties:

  * key: displayed in the 1st column of the table.
  * value: displayed in the 2nd column of the table.
  * tooltip: optional tooltip for the row. This element can be omitted
    or set to '' if no tooltip is to be displayed.
--->

<script lang="ts">
  import { type TableRow } from './utils';

  import ElementWithTooltip from './ElementWithTooltip.svelte';

  interface Props {
    data: TableRow[];
    type?: 'compact' | 'default';
  }

  const { data, type = 'default' }: Props = $props();
</script>

<div class="table {type}">
  {#each data as { key, value, tooltip } (key)}
    <div class="key">{key}</div>
    <ElementWithTooltip {tooltip} compactTooltip>
      {value}
    </ElementWithTooltip>
  {/each}
</div>

<style>
  .table {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1em;

    &.compact {
      column-gap: 0.2em;
      font-size: smaller;
      line-height: 1.2em;
    }
  }

  .key {
    font-weight: bold;
  }
</style>
