<script lang="ts">
  interface Props {
    checked: boolean;
  }

  let { checked = $bindable() }: Props = $props();
</script>

<label>
  <input type="checkbox" bind:checked />
  <span class="slider"></span>
</label>

<style>
  label {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
  }

  input {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.8em;
    background-color: var(--color-gray);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  span:before {
    position: absolute;
    content: '';
    height: 0.75em;
    width: 0.75em;
    left: 0.125em;
    bottom: 0.125em;
    border-radius: 50%;
    background-color: var(--color-bg);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + span {
    background-color: var(--color-success);
  }

  input:checked + span:before {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
  }
</style>
