<script lang="ts">
  import {
    type DataTransfer,
    dataTransferAsTable,
    DataTransferStatus,
    dataTransferStore,
  } from '../store/transfer';
  import { userInfo, userInfoAsString } from '../store/auth';
  import { NotificationLevel } from '../store/event';

  import Alert from '../component/Alert.svelte';
  import Chip from './Chip.svelte';
  import ElementWithTooltip from './ElementWithTooltip.svelte';
  import QuickSearch from './QuickSearch.svelte';
  import Table from './Table.svelte';

  interface Props {
    authenticatedMode: boolean;
    transferId: number | null;
  }

  // eslint-disable-next-line prefer-const
  let { authenticatedMode, transferId = $bindable(null) }: Props = $props();

  const authorizedDataTransfers = $derived(
    $dataTransferStore.filter(
      (dataTransfer) => dataTransfer.status === DataTransferStatus.Authorized,
    ),
  );

  // On page load/reload, set the currently selected data transfer request
  // object to the object matching the currently selected transfer ID. If no
  // match is found (e.g. because the currently selected transfer ID is not
  // in the list of authorized transfer IDs), default to `null`.
  function dataTransferFromId(transferId: number | null): DataTransfer | null {
    return (
      authorizedDataTransfers.find(
        (dataTransfer) => dataTransfer.id === transferId,
      ) || null
    );
  }
  let dataTransferRequest: DataTransfer | null = $state(
    dataTransferFromId(transferId),
  );

  // Returns the list of currently valid data transfers as a list of objects
  // that can be used in the `QuickSearch` component.
  function dataTransfersAsQuickSearchChoice(transfers: DataTransfer[]) {
    return transfers
      .filter(
        (dataTransfer) => dataTransfer.status === DataTransferStatus.Authorized,
      )
      .sort((a, b) => a.id - b.id)
      .map((dataTransfer) => ({
        label: `${dataTransfer.id} (${dataTransfer.project_name})`,
        value: dataTransfer.id,
      }));
  }

  // Prevents the submission of a form when `Enter` is pressed.
  function disableEnterKey(event: KeyboardEvent) {
    if (event.key === 'Enter') {
      event.preventDefault();
    }
  }

  // In authenticated mode, update `transferId` when a data package is
  // selected from the drop-down menu.
  $effect(() => {
    if (authenticatedMode) {
      transferId = dataTransferRequest ? dataTransferRequest.id : null;
    } else {
      // In non-authenticated mode, `dataTransferRequest` should be reset so
      // that if authenticated mode is then turned-on again, the `transferId`
      // gets reset (this avoid carrying an invalid DTR ID over from
      // non-authenticated mode).
      dataTransferRequest = null;
    }
  });
</script>

{#if authenticatedMode}
  {#if $dataTransferStore.length > 0}
    {#if dataTransferRequest}
      <div class="dtr-field-authenticated">
        <Chip
          onClear={() => {
            transferId = null;
            dataTransferRequest = null;
          }}
        >
          <Table data={dataTransferAsTable(dataTransferRequest)} />
        </Chip>
      </div>
    {:else}
      <QuickSearch
        items={dataTransfersAsQuickSearchChoice($dataTransferStore)}
        onselected={(selected) => {
          dataTransferRequest =
            authorizedDataTransfers.find(
              (transfer) => transfer.id === selected.value,
            ) || null;
        }}
      />
    {/if}
  {:else}
    <Alert level={NotificationLevel.Info} roundCorners>
      <div class="alert-text">
        <p>
          <strong>Info:</strong> there are currently no authorized data
          transfers requests associated with user:
          {userInfoAsString($userInfo)}.
        </p>
        <p>
          In authenticated mode, data packages can only be sent or received if
          they are part of an authorized data transfer. To transfer data outside
          of authenticated mode, please sign-out.
        </p>
      </div>
    </Alert>
  {/if}
{:else}
  <div class="dtr-field">
    <ElementWithTooltip
      tooltip="Data Transfer Request ID - according to Portal"
      tooltipPosition="right"
    >
      <div class="dtr-field">
        <input
          type="number"
          min="1"
          bind:value={transferId}
          onkeydown={disableEnterKey}
        />
      </div>
    </ElementWithTooltip>
  </div>
{/if}

<style>
  .dtr-field {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  .dtr-field-authenticated {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .alert-text {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
</style>
